[submodule "lib/wpmudev-dashboard"]
	path = lib/wpmudev-dashboard
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
[submodule "lib/wpmu-lib"]
	path = lib/wpmu-lib
	url = git@bitbucket.org:incsub/wpmu-lib.git
[submodule "lib/wdev-frash"]
	path = lib/wdev-frash
	url = git@bitbucket.org:incsub/free-dashboard.git
