[submodule "extra/wpmudev-dashboard"]
	path = extra/wpmudev-dashboard
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git
[submodule "extra/wpmu-lib"]
	path = extra/wpmu-lib
	url = git@bitbucket.org:incsub/wpmu-lib.git
