# Version control.
.svn
/.project
.sass-cache
node_modules

# Exclude release folder.
release

# Other folders.
OK
*.local
.DS_Store
/nbproject/private/
nbproject
backup
/backup/*
.diff
composer
vendor
composer.*

# assets start
app/assets/css/**/*
app/assets/js/**/*
!app/assets/css/src/**/*
!app/assets/js/src/**/*
!app/assets/js/vendor/**/*
# assets end