/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/accountform.css?ver=3.1.1 */

div#account-form {
	width: 100%;
	padding: 10px;
	border: 1px solid #d4d4d4;
	background-color: #f3f3f3;
}

div#account-form h2 {
	font: bold 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div#account-form table.form-table {
	border: none;
	color: #000;
}

div#account-form table.form-table th {
	width: 30%;
	color: #000;
}

#account-form div.formleft table.form-table tbody tr td input, #account-form div.formleft table.form-table tbody tr td select {
	width: 60%;
	border: 1px solid #ccc;
	margin: 0;
	padding: 3px;
	font-size: 14px;
}

#account-form div.formleft form table.form-table tbody tr td span.description {
	color: #666;
	font-size: 12px;
	font-style: italic;
}

div#message {
	border: 1px solid #ffd13b;
	padding: 5px;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #fefdd6;
	margin-bottom: 10px;
}

#message p {
	margin: 0;
}

#account-form div.formleft p {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 5px;
}

#account-form div.formleft form {
	display: none;
}

#account-form div.formleft p span a {
	float: right;
}

div#account-form table.form-table th label {
	color: #000;
}

#account-form div.formleft table.form-table tbody tr td {
	border: none;	
}

