/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/authorizenet.css */

/* Thanks to Kevin D. Lyons for the initial Form HTML and CSS  */
.membership_cart_billing {

}
.purchase-wrapper {
	padding: 10px;
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	background: #efefef
}

.purchase-item {
	background: #a0a0a0;
	padding: 10px;
	border-radius: 5px;
	font-size: 130%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}

.purchase-item-details {
	float: left;
}

.purchase-item-price {
	text-align: right;
}

.buynow {
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
}

.auth-header {
	font-size: 120%;
	margin-bottom: 5px;
	font-weight: 700;
}

.auth-body {
	background: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
}

.auth-body div.auth-field {
	padding: 3px;
}

.auth-block {
	margin-bottom: 10px;
}

.auth-billing {
	padding: 10px;
	background: white;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
}

.auth-billing-name {
	font-size: 110%;
	margin-bottom: 10px;
	overflow: visible;
}

.auth-billing-fname .input_field {
	width: 160px;
}

.auth-billing-fname-label {
	float: left;
	padding-top: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.auth-billing-fname {
	float: left;
	margin-right: 15px;
}

.auth-billing-lname {
	margin-bottom: 20px;
}

.auth-billing-lname .input_field {
	width: 160px;
}

.auth-billing-lname-label {
	float: left;
	padding-top: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.auth-billing-country .input_field,
.auth-billing-city .input_field,
.auth-billing-state .input_field,
.auth-billing-zip .input_field,
.auth-billing-address .input_field {
	width: 460px;
}

.auth-billing-country-label,
.auth-billing-city-label,
.auth-billing-state-label,
.auth-billing-zip-label,
.auth-billing-address-label {
	float: left;
	padding-top: 5px;
	margin-right: 10px;
	margin-top: 5px;
	width: 80px;
}

.auth-cc {
	padding: 10px;
	background: white;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
}

.auth-cc-cardnum {
	width: 30em;
}

.auth-exp {
	padding: 10px;
	background: white;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
}

.auth-sec {
	padding: 10px;
	background: white;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
}

.cardimage {
	height: 23px;
	width: 157px;
	display: inline-table;
}

.auth-exp-input .inputLabel {
	margin: 0 5px 0 20px;
}

#membership-wrapper select, #membership-wrapper input[type="file"] {
	height: 28px;
	width: 100px;
}

.auth-cc-label {
}

.auth-exp-label {
	float: left;
	padding-top: 2px;
}

.auth-sec-label {
	float: left;
	margin-right: 10px;
	padding-top: 5px;
	margin-top: 5px;
}

.auth-submit-button {
	text-align: right;
}
.membership_payment_form.authorizenet {
	width: 100%;
}
.auth-sec-input .input_field {
	width: 70px;
}