/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/dashboard.css?ver=11 */

div#full-sortables {
	min-height: 50px;
}

#wizarddismisslink {
	float: right;
}

h3.hndle {
	cursor: auto !Important;
}

div.inside {
	overflow: hidden;
	padding: 10px !Important;
}

div.inside td {
	padding: 3px 5px;

}

div.inside td a {
	text-decoration: none;
}

div.inside p {
	margin-top: 5px;
	margin-bottom: 10px;
}

#memchartone {
	width: 100%;
	min-height: 250px;
	background: #fafafa;
	margin-bottom: 30px;
	margin-left: 5px;
}

#memcharttwo {
	width: 100%;
	min-height: 250px;
	background: #fafafa;
	margin-bottom: 30px;
	margin-left: 5px;
}

#memchartthree {
	width: 100%;
	min-height: 250px;
	background: #fafafa;
	margin-bottom: 30px;
	margin-left: 5px;
}

#welcome-panel div.welcome-panel-content h3 {
	font: 32px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 10px;
}

#welcome-panel div.welcome-panel-content div.welcome-panel-column-container div.welcome-panel-column h4 {
	font: bold 14px sans-serif;
}

#welcome-panel div.welcome-panel-content div.welcome-panel-column-container div.welcome-panel-column h4 span.icon16 {
	
}

#welcome-panel div.welcome-panel-content p.about-description {
	margin-left: 0;
	margin-top: 5px;
	padding: 7px 10px;
}

ul.wizardoptions {
	color: #777;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: normal;
	margin-left: 20px;
}

ul.wizardoptions li {
	margin-bottom: 10px;
}

#welcome-panel div.welcome-panel-content ul.wizardoptions li input {
	vertical-align: middle;
	margin-right: 10px;
}

#welcome-panel div.welcome-panel-content p.welcome-panel-dismiss {
	padding: 7px 10px;
}

#welcome-panel {
	
}
