/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/default.css?ver=11 */

#poststuff div.postbox {
	position: relative;
	background: #fff;
	border-color: #ddd;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0;
}

div.screenhelpheader {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	color: #464646;
	padding: 0px;
}

div.screenhelpheader .welcome-panel-close:before {
    background: transparent url("../images/xit.gif") no-repeat scroll 0 14%;
    content: " ";
    height: 100%;
    left: -12px;
    position: absolute;
    width: 10px;
}

div.screenhelpheader .welcome-panel-close {
	display: none;
    font-size: 13px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 0;
	padding: 8px 3px;
}

.membershipactivestatus {
	color: green;
}

.membershipinactivestatus {
	color: red;
}


