/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/levels.css?ver=6 */

div.level-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}
div.level-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}
#level-left {
	margin-left: 5px;
	margin-right: 325px;
}
#level-left #edit-level {
	background-color: transparent;
	border: 0 none;
}
div.level-holder-wrap {
	padding: 0;
	margin: 10px 0 20px;
}

.sidebar-name {
	background-color: #aaa;
	background-image: url(../images/ed-bg.gif);
	text-shadow: #FFF 0 1px 0;
	border-color: #dfdfdf;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.sidebar-name:hover {
	color: #333 !Important;
	cursor: move;
}

p.description {
	margin: 0 12px 12px;
}

.section-holder {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f1f1f1;
	border-color: #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}

.level-holder {
	position: relative;
	background-color: #fff;
	border-color: #ddd;
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0;
}

div.level-details {
	padding-top: 10px;
	padding-left: 10px;
}

.level-holder label {
	margin-bottom: 10px;
	font-weight: bold;
}

input.wide {
	margin-top: 5px;
	width: 98%;
	margin-left: 0;
	margin-bottom: 5px;
}

div.level-details select {
	display: block;
	margin-top: 5px;	
}

.level-holder h3 {
	background-color: #edf3fe;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.level-holder h3.negative {
	background-color: #ffd6d6;
}

.placeholder-rules {
	width: 95%;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 2px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
	min-height: 80px;
}

.level-droppable-rules {
	width: 95%;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 3px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
}

.level-droppable-rules.hoveringover {
	border: 3px dashed #78aad3;
	color: #78aad3;
}

#positive-rules {
	background: #fcfcfc;
}
#negative-rules {
	background: #fcfcfc;
}

.action-top {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: #dfdfdf url("../images/gray-grad.png") repeat-x left top;
	text-shadow: #fff 0 1px 0;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	min-height: 20px;
}

.action-top:hover {
	cursor: move;
}

.action-top-placeholder {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: transparent;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: bold;
	margin-bottom: 10px;
	min-height: 20px;
	border: 1px dashed #ddd;
}

div.level-operation {
	float: left;
	width: 95%;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ddd;
}

h2.sidebar-name span {
	float: right;
}
h2.sidebar-name span a {
	text-decoration: none;
	font-size: 11px;
}

#hiden-actions {
	margin-left: 5px;
	margin-right: 325px;
	display: none;
}

div.level-operation h2 {
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.level-operation .inner-operation {
	padding: 10px;
	font-size: 12px;
	background: #fff;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

div.level-operation .inner-operation p {
	margin-top: 0;
}

div.level-operation .inner-operation p.description {
	margin: 10px 0 0;
}

#positive-rules-holder, #negative-rules-holder {
	clear: both;
	overflow: hidden;
}

div.buttons {
	text-align: right;
	padding: 10px 15px 10px 10px;
}
div.buttons a.cancellink {
	margin-right: 10px;
	font-size: 12px;
	text-decoration: underline;
	color: #797979;
}

.no-movecursor {
	cursor: auto !Important;
}