.membership-popover-signup-wrapper {
    width: 700px;
    background-color: white
}

#fancybox-wrap #fancybox-content div.header {
    width: 100%;
    background: #333;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#fancybox-wrap #fancybox-content div.header h1 {
    color: #fff;
    font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
    margin: 0;
    padding: 0
}

#fancybox-content div div.leftside {
    float: left;
    width: 340px;
    padding: 20px 20px 0;
    border-right: 1px dashed #ddd;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#fancybox-content div div.leftside p {
    font-size: 14px
}

#fancybox-content div div.rightside {
    float: right;
    width: 350px;
    padding: 20px 20px 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#fancybox-content div {
    overflow: hidden
}

#fancybox-wrap {
    z-index: 9999
}

form#reg-form, form#login-form {
    background: #fff;
    margin-top: 10px
}

#reg-form div label, #login-form div label {
    display: block;
    font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif
}

#reg-form div input.regtext, #login-form div input.regtext {
    width: 100%;
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    -moz-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    font-size: 22px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: medium none;
    padding: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#reg-form p, #login-form p {
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px
}

#reg-form p input.button, #login-form p input.button {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif
}

p.error {
    background: #d61d19;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: none
}

#fancybox-content div div.fullwidth {
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

table.purchasetable {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd
}

table.purchasetable td {
    padding: 10px;
    vertical-align: top
}

td.detailscolumn {
    width: 375px;
    border-right: 1px dashed #ddd
}

td.pricecolumn {
    width: 150px;
    text-align: right;
    border-right: 1px dashed #ddd;
    font-weight: bold
}

td.buynowcolumn {
    text-align: right
}

#fancybox-content div div.fullwidth table.purchasetable tbody tr td.buynowcolumn form input {
    border: none;
    margin: 0;
    padding: 0
}

#fancybox-content div div.fullwidth p {
    font-size: 14px
}

#fancybox-content div div.rightside p {
    font-size: 14px
}

#fancybox-content div div.fullwidth table.purchasetable tbody tr {
    border-bottom: 1px dashed #ddd
}

#fancybox-content .alert {
    padding: 10px 30px 10px 15px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fbfce3;
    border: 1px solid #ecf088;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#fancybox-content .alert {
    color: #c09853
}

#fancybox-content .alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px
}

#fancybox-content .alert-success {
    background-color: #def7e4;
    border-color: #8de3a1
}

#fancybox-content .alert-success, #fancybox-content .alert-success .alert-heading {
    color: #468847
}

#fancybox-content .alert-danger, #fancybox-content .alert-error {
    background-color: #fce5e3;
    border-color: #f28f87
}

#fancybox-content div.alert-error, #fancybox-content div.alert-error .alert-heading {
    color: #b94a48
}

#coupon_code {
    width: 70%
}

#fancybox-content #tos_content p {
    padding-top: 0;
    padding-bottom: 20px
}

@media all and (max-width: 768px) {
    .membership-popover-signup-wrapper {
        width: 350px
	}

    #fancybox-content div div.leftside, #fancybox-content div div.rightside {
        float: none;
        width: 100%
	}
	
    #fancybox-content div div.leftside {
        border-right: none
	}
}