/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/popupregistration.css?ver=3.3.1 */

#fancybox-content div.header {
	width: 730px !Important;
	background: #333;
	padding: 10px;
}

#fancybox-content div.header h1 {
	color: #fff;
	font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#fancybox-content div div.leftside {
	float: left;
	width: 340px;
	padding: 10px;
	border-right: 1px dashed #ddd;
	overflow: hidden;
}

#fancybox-content div div.leftside p {
	font-size: 14px;
}

#fancybox-content div div.rightside {
	float: right;
	width: 350px;
	padding: 10px;
	overflow: hidden;
}

#fancybox-content div {
	overflow: hidden;
}

#fancybox-wrap {
	z-index: 9999;
}

form#reg-form, form#login-form  {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #fff;
}

#reg-form div label, #login-form div label {
	display: block;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#reg-form div input.regtext, #login-form div input.regtext {
	width: 280px;
	margin-bottom: 10px;
}

#reg-form p, #login-form p {
	overflow: hidden;
	display: block;
	clear: both;
	margin-top: 10px;
}

#reg-form p input.button, #login-form p input.button {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

p.error {
	background: #d61d19;
	color: #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}

#fancybox-content div div.fullwidth {
	width: 730px;
	padding: 10px;
}

table.purchasetable {
	width: 730px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

table.purchasetable td {
	padding: 10px;
	vertical-align: top;
}

td.detailscolumn {
	width: 375px;
	border-right: 1px dashed #ddd;
}

td.pricecolumn {
	width: 150px;
	text-align: right;
	border-right: 1px dashed #ddd;
	font-weight: bold;
}

td.buynowcolumn {
	text-align: right;
}

#fancybox-content div div.fullwidth table.purchasetable tbody tr td.buynowcolumn form input {
	border: none;
	margin: 0;
	padding: 0;
}

#fancybox-content div div.fullwidth p {
	font-size: 14px;
}

#fancybox-content div div.rightside p {
	font-size: 14px;
}

#fancybox-content div div.fullwidth table.purchasetable tbody tr {
	border-bottom: 1px dashed #ddd;
}

#fancybox-content {
	min-height: 400px;
}

