/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/renewform.css?ver=3.1.1 */

div.renew-form {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #d4d4d4;
	background-color: #f3f3f3;
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	overflow: hidden;
}

div.renew-form div.formleft p {
	margin-bottom: 5px !Important;	
}

div.subscription {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #cccc66;
	background-color: #fefcad;
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	overflow: hidden;
}

div.renew-form .unsubbutton {
	float: right;	
	text-decoration: none;
}

div.renew-form .unsubbutton input {
	margin-bottom: 5px !Important;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div.renew-form div.formleft form {
	float: right;	
}

div.renew-form div.formleft form input {
	margin-bottom: 5px;	
}

div.subscription div.description h3 {
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 5px !Important;
}

div.subscription div.description p {
	float: left;
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 5px !Important;
}

div.subscription div.priceforms form input {
	float: right;
	margin-bottom: 5px;	
}

div.subscription div.priceforms .unsubbutton input {
	margin-bottom: 5px;	
}
