/**
 * Shortcode Styles
 */
.ms-membership-form-wrapper {
	legend {
		display: block;
		margin-bottom: 20px;
		padding: 0;
		width: 100%;
		border-bottom: 1px solid #DDDDDD;
		font-size: 1.6em;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	.sandbox-mode {
		background-color: #FFC;

		.ms-buy-now-column {
			position: relative;

			&:after {
				content: 'Sandbox';
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -12px;
				line-height: 24px;
				color: #AA6;
			}
		}
	}

	.ms-signup-button {
		float: right;
		height: auto;
	}

	.ms-cancel-button {
		height: auto;
		line-height: normal;
		background: #999;

		&:hover,
		&:focus,
		&:active {
			background: #AAA;
		}
	}
}

.ms-membership-details-wrapper {
	position: relative;
	overflow: hidden;
	width: 99%;
	margin: 1em 0;
	border: 1px solid #DDD;
}

.ms-alert-box {
	padding: 10px 30px 10px 15px;
	margin-bottom: 20px;

	background-color: #fbfce3;
	border: 1px solid #ecf088;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #c09853;

	&.ms-alert-success {
		color: #468847;
		background-color: #DEF7E4;
		border-color: #8DE3A1;
	}

	&.ms-alert-error {
		color: #B94A48;
		background-color: #FCE5E3;
		border-color: #F28F87;
	}
}

.ms-top-bar {
	position: relative;
	background: #eee;
	padding: 10px;
	min-height: 2em;

	text-align: left;
	color: #434343;
	overflow: hidden;
}

.ms-bottom-bar {
	position: relative;
	padding: 10px;
	overflow: hidden;

	background: #f6f6f6;
	color: #434343;
}

.ms-price-details {
	position: relative;
	padding: 10px;
	min-height: 1em;
	list-style-type: none;
}

.ms-form-element {
	margin: 1em;
}

.ms-form-element label {
	display: inline;
}

.ms-form-element span {
	display: inline;
}

.ms-form-element input {
	margin: 0 0 0 1em;
	float: right;
}

/* jQuery validation */

.ms-validation-error {
	color: #e46c6e !important;
}

label.ms-validation-error {
	background: #ffefef;
	border: 1px solid #ffd2d2;
	color: #666;
	font-size: 0.8em;
	margin: 5px;
	padding: 2px;
	position: absolute;
	width: auto;
	border-radius: 3px;

	&:before {
		content: '';
		background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
		background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
		background-position: -640px -138px;
		display: inline-block;
		height: 20px;
		position: relative;
		top: 1px;
		width: 20px;
	}
}


/* Login Form */

.ms-form {
	margin: 1em;

	.ms-field {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	&.ms-has-labels {
		input {
			float: right;

			&[type="checkbox"] {
				float: none;
			}
		}
	}

	&.ms-no-labels {
		p {
			text-align: center;
		}
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}


/* Account */

.ms-card-info-wrapper {
	margin: 20px 0;
}

.ms-edit-profile {
	float: right;
	font-weight: 100;
}


/* Payment buttons */

input[type="image"] {
	border: 0;
	padding: 0;
}

