/**
 * Special styles used on "Membership" pages
 */

/* Page: Create new Membership */
.ms-wrap {
	.ms-type-wrapper {
		position: relative;
		margin-bottom: 20px;
	}

	.ms-name-wrapper,
	.ms-private-wrapper {
		float: left;
		width: 50%;
		min-height: 7em;
		max-width: 880px;

		&.disabled * {
			color: #999;
			opacity: .7;
			cursor: default;
		}
	}

	.ms-control-fields-wrapper {
		clear: both;
	}

	.ms-settings-type {
		max-width: 1200px;
		margin: 1em auto 0;

		.wpmui-input-name {
			font-size: 13px;
			padding: 5px 10px;
		}
	}

	.wrapper-type {
		margin-left: 10px;
	}

	.ms-choose-type.wpmui-radio-input-wrapper {
		position: relative;
		float: left;

		margin: 1em 0 0;
		padding: 0 40px 0 0;
		width: 25%;
		min-width: 250px;
		max-width: 440px;

		background-color: transparent;
		outline: none;

		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 0;
			right: 30px;
			bottom: 0;
			background: #fdfdfd;
			box-shadow: 0 0 0 1px #EEE;
		}

		&:hover:before {
			background: #fbfbfb;
			box-shadow: 0 0 0 1px #CCC;
		}

		&.active:before,
		&.active:hover:before {
			background: #f7fcfe;
			box-shadow: 0 0 0 2px #2ea2cc;
		}

		.wpmui-radio {
			opacity: 0;
		}

		.wpmui-radio-caption {
			padding: 6px 0 !important;
			text-align: center;
			border-bottom: 1px solid #EEE;
		}

		label {
			padding-top: 80px;
			height: 300px;

			&:before {
				display: inline-block;
				position: absolute;
				content: '';

				left: 50%;
				top: 10px;
				width: 100px;
				height: 80px;
				margin-left: -50px;

				background: url(../images/membership_sprite.png);
				background: url(../images/membership_sprite.svg), none;
			}
		}

		&.wpmui-simple label:before {
			background-position: 0 -30px;
		}

		&.wpmui-content_type label:before {
			background-position: -100px -20px;
		}

		&.wpmui-tier label:before {
			background-position: -200px -18px;
		}

		&.wpmui-dripped label:before {
			background-position: -300px -20px;
		}

		.wpmui-radio-caption {
			margin-bottom: 1em;
			font-weight: 600;
			color: #222;
		}

		.wpmui-input-description {
			color: #666;
			font-weight: 200;
		}
	}

	.ms-locked {
		position: relative;
		cursor: not-allowed;

		.wpmui-field-label {
			cursor: not-allowed;
		}

		.wpmui-field-label:before,
		.wpmui-radio-caption {
			opacity: 0.45;
			cursor: not-allowed;

			filter: blur(2px);
			-moz-filter: blur(2px);
			-webkit-filter: blur(2px);
		}

		.wpmui-input-description {
			color: #CCC !important;
			cursor: not-allowed;
		}

		.locked-blur {
			filter: blur(2px);
			-moz-filter: blur(2px);
			-webkit-filter: blur(2px);
		}

		.locked-info {
			position: absolute;
			background: #333;
			color: #EEE;
			top: 20px;
			left: 50%;
			width: 200px;
			margin-left: -100px;
			text-align: center;
			padding: 5px;
			font-style: normal;
			font-size: 12px;
			box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
		}

		&.ms-choose-type.wpmui-radio-input-wrapper:before {
			opacity: 0.35;
		}

		&:hover .locked-info {
			display: inline-block !important;
		}
	}

	.column-collapse {
		width: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.ms-pointer {
		cursor: pointer;
	}
}

/* Page: Payment options */
.ms-wrap {
	.wrapper-is_free {
		max-width: 400px;
		display: block;

		.ms-radio-input-wrapper {
			width: 49.5%;
			float: left;
		}

		label {
			float: none;
			display: inline-block;
			width: auto;
		}
	}

	.widefat {
		th.column-active,
		td.column-active {
			width: 135px;
			text-align: center;
		}
	}

	.ms-global-payment-wrapper {
		.wpmui-field-input {
			width: 100%;
		}
	}

	.ms-item-name {
		color: #4F7984;
	}

	.ms-trial-wrapper {
		margin-top: 15px;
	}
}

/* Membership Details ("Overview" page) */
.ms-wrap {
	&.ms-membership-overview {
		margin: 0 0 0 -20px;

		.ms-wrap-top {
			padding: 15px 15px 15px 265px;
			background-color: #FAFAFA;
		}

		&.no-tabs {
			.ms-wrap-top {
				padding-left: 20px
			}
		}
	}

	.ms-membership-status-wrapper {
		position: absolute;
		padding: 10px;
		left: 10px;
		top: 10px;
		min-width: 245px;
		text-align: center;

		.wpmui-radio-slider {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
		}

		.ms-membership-status {
			& > div {
				display: block;
			}
			& .ms-active {
				display: none;
			}

			&.ms-active {
				& > div {
					display: none;
				}
				& .ms-active {
					display: block;
				}
			}
		}
	}

	.ms-overview-container {
		position: relative;

		& > .ms-tab-container {
			padding-left: 20px;
			padding-top: 10px;
			border-top: 1px solid #e5e5e5;
			width: 245px;

			.ms-tab.active {
				background: #FAFAFA;

				&:after {
					background: #FAFAFA;
				}
			}
		}

		& > .ms-settings {
			background: transparent;
			border: 0;
			box-shadow: 0 0 0 transparent;
			padding: 0;
		}

		.ms-overview-top {
			background-color: #FAFAFA;
			padding: 10px 20px 20px;
			border: 1px solid #E5E5E5;
			border-top: 0;
		}

		.ms-overview-bottom {
			padding-top: 20px;
			padding-right: 20px;
		}

		&.no-tabs {
			.ms-overview-bottom {
				margin-left: 20px;
			}
		}
	}
}

/* Protected Content page */
.ms-wrap {
	.ms-more-tag {
		display: inline-block;
		margin: 0 20px 0 0;
	}
}