/**
 * Special styles used on "All Members" page
 */
#wpwrap .ms-wrap.ms-member-list {
	.column-infos {
		width: 30px;

		a {
			display: block;
		}
	}

	.column-membership {
		width: 45%;
	}
}

.ms-edit-member {
	.the-membership {
		display: inline-block;
		padding: 2px 6px;
		border-radius: 4px;
		color: #FFF;
		background: #888;
	}
}

/**
 * Special styles used on "Edit Member" page
 */
#wpwrap .ms-wrap.ms-add-member {
	.ms-field-group {
		float: left;
		width: 50%;
		position: relative;
	}

	.ms-group-create {
		border-right: 1px solid #E5E5E5;
	}

	.ms-field-group-inner {
		padding: 10px 20px;
		position: relative;
		z-index: 2;
	}

	.group-title,
	.group-title .wpmui-radio-caption {
		font-weight: bold;
		display: block;
		padding: 1px 0 6px;
	}

	.info-field {
		display: block;
		padding: 10px 0;
		font-style: italic;
	}
}