/**
 * Special styles used on "Billing" page
 */

#wpwrap .ms-wrap,
.ms-wrap {
	&.ms-billing {
		.wpmui-label-txt_membership {
			margin-top: 10px;
		}

		.wpmui-label-txt_user,
		.wpmui-label-txt_membership {
			font-weight: 600;
		}

		.transactions {
			tr:hover {
				td {
					box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
				}
			}

			td {
				padding: 6px;
			}

			.log-status,
			.log-method {
				background-color: #888;
				color: #FFF;
				padding: 0;
				border-radius: 10px;
				line-height: 18px;
				width: 18px;
				font-size: 12px;
				text-align: center;
				display: inline-block;
				position: relative;
			}

			.log-method:hover {
				background-color: #333;
				border-radius: 10px 0 0 10px;

				&:after {
					content: attr(data-info);
					background: #333;
					color: #FFF;
					position: absolute;
					left: 18px;
					top: 0;
					height: 18px;
					line-height: 18px;
					padding: 0 8px;
					font-size: 11px;
					border-radius: 0 10px 10px 0;
					white-space: nowrap;
				}
			}

			.column-id {
				width: 80px;
			}
			.column-date {
				width: 150px;
				text-align: center;
			}
			.column-status {
				width: 40px;
				text-align: center;
			}
			.column-method {
				width: 40px;
				text-align: center;
			}
			.column-gateway {
				width: 150px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
			}
			.column-amount {
				width: 80px;
				text-align: right;
			}
			.column-invoice {
				width: 80px;
				text-align: center;
			}
			.detail-block {
				min-width: 300px;
			}
		}

		.log-ok {
			td {
				background-color: rgba(100, 200, 255, 0.06);
			}

			.log-status {
				background-color: #068;
			}

			.log-status-icon:before {
				content: '\f00c';
			}
		}

		.log-err {
			td {
				background-color: rgba(255, 100, 100, 0.06);
			}

			.log-status {
				background-color: #800;
			}

			.log-status-icon:before {
				content: '\f071';
			}
		}

		.log-ignore {
			.log-status {
				background-color: #888;
			}

			.log-status-icon:before {
				content: '\f00d';
			}
		}

		.column-note {
			position: relative;
		}

		.more-details {
			display: inline-block;
			width: 16px;
			text-align: center;

			.post-data {
				display: none;
				position: absolute;
				top: 26px;
				left: 0;
				right: 0;
				background: #333;
				padding: 10px;
				z-index: 2;
				color: #EEE;
				text-align: left;
				white-space: pre;
			}
			.post-data:before {
				content: '';
				position: absolute;
				left: 9px;
				top: -10px;
				border: 5px solid transparent;
				border-bottom-color: #333;
			}
			.post-data:after {
				content: '';
				position: absolute;
				left: 0px;
				right: 0px;
				top: -25px;
				height: 25px;
			}
			&:hover .post-data {
				display: block;
			}
		}

		.actions {
			position: absolute;
			right: 6px;
			top: 6px;
			display: none;
			z-index: 5;
		}

		tr.log-err:hover .err-actions,
		tr.log-ok:hover .ok-actions,
		tr.log-ignore:hover .ignore-actions {
			display: block;
		}

		tr:hover .wpmui-loading .actions {
			display: hidden;
		}

		.wpmui-loading {
			overflow: hidden;
		}
	}
}

.ms-transaction-window {
	.the-details {
		.wpmui-wrapper {
			display: block;
			margin: 0 0 15px;
		}

		.wpmui-html-text-wrapper {
			label {
				font-weight: bold;
				font-size: 11px;
				color: #AAA;
			}
		}
	}

	.the-form {
		select {
			width: 100%;
		}

		.link-block {
			margin: 0 0 10px;
		}
	}
}