/**
 * Special styles used on "Membership" pages
 */

/* Page: Create new Membership */
#wpwrap .ms-wrap {
	.ms-membership-add {
		margin: 0 auto;
		overflow: visible;

		.ms-settings-row {
			position: relative;
			margin: 20px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.disabled * {
			color: #999;
			opacity: .7;
			cursor: default;
		}

		.wpmui-input-name {
			font-size: 13px;
			padding: 5px 10px;
			width: 100%;
		}

		.ms-choose-type-wrapper {
			width: 100%;

			& > .ms-choose-type {
				position: relative;
				float: left;
				margin: 1em 0 0;
				padding: 0 5px;

				background-color: transparent;
				outline: none;

				&:before {
					content: '';
					position: absolute;
					left: 5px;
					top: 0;
					right: 5px;
					bottom: 0;
					background: transparent;
					box-shadow: 0 0 0 1px transparent;
				}

				&:hover:before {
					background: #fbfbfb;
					box-shadow: 0 0 0 1px #CCC;
				}

				&.active:before,
				&.active:hover:before {
					background: #f7fcfe;
					box-shadow: 0 0 0 2px #2ea2cc;
				}

				.wpmui-radio {
					position: relative;
					float: left;
					margin: 12px 10px 0 35px;
				}

				.wpmui-radio-caption {
					padding: 10px 0 6px;
				}

				label {
					padding: 10px 15px;
					margin: 0;
					min-height: 122px;

					&:before {
						display: inline-block;
						position: absolute;
						content: '';

						left: 15px;
						top: 14px;
						width: 80px;
						height: 80px;

						background: url(../images/membership_sprite.png);
						background: url(../images/membership_sprite.svg), none;
					}
				}

				&.wpmui-simple {
					label:before {
						background-position: -440px -35px;
					}
				}

				&.wpmui-guest {
					label:before {
						background-position: -540px -35px;
					}
				}

				&.wpmui-dripped {
					.wpmui-radio {
						margin-left: 50px;
					}

					label:before {
						top: 10px;
						background-position: -730px -33px;
					}
				}

				.wpmui-radio-caption {
					margin: 0;
					font-weight: 600;
					color: #222;
					font-size: 14px;
				}

				.wpmui-input-description {
					margin: 1em 0 0 0;
					color: #666;
					font-weight: 400;

					p {
						margin: 0;
					}
				}
			}
		}

		&.ms-cols-2 {
			max-width: 960px;

			.ms-choose-type-wrapper > .ms-choose-type {
				width: 50%;
			}
		}

		&.ms-cols-3 {
			max-width: 1200px;

			.ms-choose-type-wrapper > .ms-choose-type {
				width: 33.32%;
			}
		}

		.ms-options-wrapper {
			& .opt {
				float: left;
				width: 50%;
				margin: 0;
				clear: none;
				position: relative;
			}

			.wpmui-checkbox-caption {
				font-size: 14px;
			}

			.wpmui-checkbox-caption,
			.wpmui-field-description {
				padding-right: 40px;
			}

			.wpmui-label-after {
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: 0;
			}

			.ms-locked {
				position: relative;
				cursor: not-allowed;

				* {
					cursor: not-allowed;
				}

				.wpmui-checkbox-caption,
				.wpmui-input-description {
					opacity: 0.45;
					cursor: not-allowed;
				}

				.wpmui-label-after {
					.locked-info {
						position: absolute;
						background: #333;
						color: #EEE;
						top: 20px;
						left: 50%;
						width: 200px;
						margin-left: -100px;
						text-align: center;
						padding: 5px;
						font-style: normal;
						font-size: 12px;
						box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
					}
				}

				&:hover .wpmui-label-after {
					display: block;
					opacity: 1;

					.locked-info {
						opacity: 1;
						display: inline-block !important;
					}
				}
			}
		}

		.ms-control-fields-wrapper {
			position: absolute;
			bottom: -60px;
		}
	}
}

/* Page: Payment options */
#wpwrap .ms-wrap {
	.ms-membership-payment {
		margin: 0 auto;
		max-width: 800px;
		overflow: visible;

		&.wide {
			max-width: 1200px;
		}

		.ms-settings-footer {
			position: absolute;
			bottom: -60px;
			z-index: 10;
		}

		th.column-active,
		td.column-active {
			width: 135px;
			text-align: center;
		}

		.ms-global-payment-wrapper {
			.wpmui-field-input {
				width: 100%;
			}
		}

		.ms-item-name {
			color: #4F7984;
		}

		.ms-trial-wrapper {
			margin-top: 15px;
		}

		.ms-global-payment-wrapper .ms-header .wpmui-separator {
			display: none;
		}
	}
}

/* Membership Details ("Overview" page) */
#wpwrap .ms-wrap.ms-membership-overview {
	margin: 0 0 0 -20px;

	.ms-wrap-top {
		padding: 15px 265px;
		background-color: #FAFAFA;
	}

	.the-title {
		border-radius: 6px;
		color: #FFF;
		background: #888888;
		padding: 2px 10px;
		font-size: inherit;
	}

	.ms-membership-status-wrapper {
		position: absolute;
		padding: 10px;
		left: 10px;
		top: 10px;
		min-width: 245px;
		text-align: center;

		.wpmui-radio-slider {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
		}

		.ms-membership-status {
			& > div {
				display: block;
			}
			& .ms-active {
				display: none;
			}

			&.ms-active {
				& > div {
					display: none;
				}
				& .ms-active {
					display: block;
				}
			}
		}
	}

	.ms-membership-edit-wrapper {
		position: absolute;
		left: 10px;
		top: 90px;
		min-width: 245px;
		text-align: center;

		a {
			padding: 5px 20px;
			height: auto;
		}
	}

	.ms-overview-container {
		position: relative;

		& > .ms-tab-container {
			padding-left: 20px;
			padding-top: 10px;
			border-top: 1px solid #e5e5e5;
			width: 245px;

			.ms-tab.active {
				background: #FAFAFA;

				&:after {
					background: #FAFAFA;
				}
			}
		}

		& > .ms-settings {
			background: transparent;
			border: 0;
			box-shadow: 0 0 0 transparent;
			padding: 0;
		}

		.ms-overview-top {
			background-color: #FAFAFA;
			padding: 10px 20px 20px;
			border: 1px solid #E5E5E5;
			border-top: 0;
		}

		.ms-overview-bottom {
			padding: 20px;
		}
	}
}

/* Membership editor popup */
.ms-edit-membership {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #FDFDFD;
	padding: 20px;

	.wpmui-form {
		padding: 0;
	}

	.wpmui-label-description,
	.ms-public-wrapper,
	.ms-paid-wrapper {
		margin-top: 25px;
	}

	.wpmui-textarea {
		min-height: 140px;
	}

	.wpmui-radio-slider-wrapper {
		display: block;

		.wpmui-field-description {
			margin: 0 0 10px 0;
			line-height: 1.35em;
		}
	}
}

/* The Memberships list */
.ms-wrap .ms-membership-list {
	.the-color {
		width: 18px;
		float: left;
		margin-right: 5px;
		border-radius: 4px;
	}

	.ms-followup {
		line-height: 14px;
		font-size: 11px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: .8;
		margin-top: 3px;
		cursor: default;

		.the-color {
			float: none;
			margin: 1px 5px;
			display: inline-block;
			line-height: 12px;
			width: 12px;
		}
	}

	.the-name {
		margin-right: 10px;
	}

	td {
		overflow: visible;
	}

	.wpmui-tip {
		text-align: center;
	}

	.ms-guest-badge {
		display: inline-block;
		cursor: help;
	}
}