/**
 * Navigational elements.
 */

.ms-wrap {
	.ms-bread-crumb {
		text-align: center;

		a {
			text-decoration: none;
		}

		.ms-bread-crumb-sep {
			margin: 0 .5em;
			color: #AAA;
		}

		.ms-bread-crumb-next {
			color: #AAA;
		}
	}
}