/**
 * General styles used in settings screens.
 */


/* Affects all elements beneath .ms-wrap container */
.ms-wrap * {
	box-sizing: border-box;
}

/* Define general layout states */
.ms-wrap {
	margin: 10px 20px 0 2px;
	font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;

	input,
	select,
	textarea {
		font-size: .9em;
	}

	.ms-bold {
		font-weight: bold;
	}

	.ms-italic {
		font-style: italic;
	}
}
