/**
 * Typographic styles
 */

.ms-wrap {
	font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;

	h3 {
		margin: 0 0 4px 0;
	}

	.ms-bold {
		font-weight: bold;
	}

	.ms-italic {
		font-style: italic;
	}

	.ms-description {
		color: #888;
		font-size: 0.9em;
	}

	.ms-settings-description {
		margin-bottom: 15px;
		display: block;
	}

	.ms-group-head {
		clear: both;
		padding-top: 15px;
	}
}