/**
 * Settings header and footer.
 */

/* Header styles */
#wpwrap .ms-wrap,
.ms-wrap {
	.ms-settings-title {
		padding: 9px 15px;
		margin: 0;

		font-size: 2.9em;
		line-height: 1.5;
		text-align: center;

		.ms-membership {
			font-size: 24px;
			line-height: 40px;
			height: 40px;
			border-radius: 6px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.ms-settings-desc {
		margin: 0 auto;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.5;
	}
}


/* Footer styles */
.ms-wrap {
	.ms-settings-footer{
		position: relative;
		margin: 10px 0;
		z-index: 10;
	}
}