/**
 * Styles for forms and input elements
 */

/* General styles */
.ms-wrap {
	.ms-field-description {
		display: inline-block;
		margin: 10px 0;
		color: #666;
		font-size: 0.9em;
		font-weight: normal;
	}

	.ms-field-input {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.button,
	.button-primary {
		margin-right: .5em;
	}

	.ms-field-container {
		margin: 10px 0;
	}

	.ms-field-label {
		display: block;
	}

	.ms-field-input-label {
		margin: 2px 0;
		font-style: normal;
		color: #222;
	}

	.disabled input,
	input.disabled,
	input[disabled] {
		cursor: default;
	}
}

/* Radio buttons */
.ms-wrap {
	.ms-radio {
		margin: 2px 4px 0 0;
		float: left;
	}

	.ms-radio-wrapper {
		margin: 0 auto;

		.ms-radio-caption {
			padding-left: 24px;
			font-weight: 500;
		}

		label {
			position: relative;
			float: left;
			width: 100%;
		}
	}
}

/* Checkbox buttons */
.ms-wrap {
	.ms-checkbox {
		margin: 2px 4px 0 0;
		float: left;
	}

	.ms-checkbox-wrapper {
		margin: 0 auto;

		.ms-checkbox-caption {
			padding-left: 24px;
			font-weight: 500;
		}
	}
}

/* Select2 */
.ms-select2 {
	&.select2-container {
		margin-right: .5em;

		.select2-choice .select2-arrow {
			border: 0;
			background: transparent;

			b {
				background-position: 0 -2px;
			}
		}

		.select2-choice {
			height: 23px;
			line-height: 23px;
			font-size: 14px;
		}
	}

	&.select2-dropdown-open {
		.select2-choice .select2-arrow {
			b {
				background-position: -18px -2px;
			}
		}
	}

	.select2-search {
		margin-bottom: 4px;
		font-size: 14px;
	}

	.select2-results {
		padding: 0;
		margin: 0;
		font-size: 14px;

		.select2-result {
			margin: 0;
		}

		.select2-highlighted {
			background: #F4F4F4;
			color: #000;
		}

		.select2-match {
			text-decoration: none;
			background: #77C9FF;
			color: #FFF;
			border-radius: 3px;
			font-weight: 100;

			&:empty {
				display: none;
			}
		}
	}
}