/**
 * Settings header and footer.
 */

/* Header styles */
.ms-wrap {
	.ms-settings-title {
		padding: 9px 15px;
		margin: 0;

		font-size: 1.6em;
		line-height: 29px;
		text-align: center;
	}

	.ms-settings-desc {
		margin: 0 auto;

		text-align: center;
	}
}


/* Footer styles */
.ms-wrap {
	.ms-settings-footer{
		position: relative;
		margin: 10px 0;
	}
}