/**
 * General styles used in settings screens.
 */


/* Affects all elements beneath .ms-wrap container */
.ms-wrap * {
	box-sizing: border-box;
}

/* Define general layout states */
.ms-wrap {
	margin: 10px 20px 0 2px;

	input,
	select,
	textarea {
		font-size: .9em;
	}

	hr {
		margin: 0;
		border: 0;
		border-top: 1px solid #E5E5E5;
	}

	.clear {
		margin: 1em 0;
		padding: 0.5em 0;
	}

	.ms-hidden {
		display: none;
		visibility: hidden;
	}

	/* horizontal separator */
	.ms-separator {
		border-bottom: 1px solid #E5E5E5;
		margin: 15px 0;
	}

	/* vertical separator */
	.ms-divider {
		position: absolute;
		right: 20px;
		top: 0;
		bottom: 0;

		border-right: 1px solid #E5E5E5;
	}

	.ms-group {
		clear: both;

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.fa {
	font-family: Fontawesome !important;
}