/**
 * Box-styles (e.g. accordeon box)
 */


/***
 * General settings box *
 ***/

.ms-wrap {
	.ms-settings {
		position: relative;
		overflow: hidden;

		padding: 10px 20px 20px;
		min-height: 280px;

		background: #fff;
		border: 1px solid #E5E5E5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	}

	.ms-wrapper-center {
		max-width: 800px;
		margin: 0 auto;

		&.wide {
			max-width: 1200px;
		}
	}

	.ms-part-4, /* same as .ms-quarter */
	.ms-part-3, /* same as .ms-third */
	.ms-part-2, /* same as .ms-half */
	.ms-quarter,
	.ms-third,
	.ms-half {
		position: relative;
		float: left;
		width: 50%;
		margin: 0;
		padding: 0;

		&.space {
			padding-right: 30px;
		}

		&.right {
			float: right;
		}
	}

	.ms-part-3,
	.ms-third {
		width: 33.33333%;
	}

	.ms-part-4,
	.ms-quarter {
		width: 25%;
	}

	.ms-fixed-height,
	.ms-settings-box.ms-fixed-height {
		.inside {
			overflow: auto;
			height: 150px;
			padding: 0;
			margin: 20px 20px 0 0;
		}
	}

	.ms-min-height,
	.ms-settings-box.ms-min-height {
		.inside {
			min-height: 200px;
			padding: 0;
			margin: 20px 20px 0 0;
		}
	}
}

/* Accordeon box */
.ms-wrap {
	.ms-settings-box-wrapper {
		background: #FBFBFB;
		border: 1px solid #E5E5E5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		min-width: 255px;
		position: relative;
		margin-bottom: 15px;
	}

	.ms-settings-box {
		padding: 10px;

		.ms-header {
			padding: 10px;
			margin: -10px;
			border-bottom: 1px solid #E5E5E5;
			background: #F9F9F9;
		}

		.ms-settings-description {
			margin-bottom: 0;
		}

		.inside {
			padding-top: 20px;
		}

		.handlediv {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			cursor: pointer;

			&:before {
				content: '\f142';

				position: relative;
				display: inline-block;
				right: 12px;
				top: 0;
				padding: 8px 10px;

				font: 400 20px/1 dashicons;

				speak: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-decoration: none!important
			}
		}

		&.closed {
			.handlediv {
				&:before {
					content: '\f140';
				}
			}
		}

		&.nohead {
			.ms-header {
				display: none;
			}

			.inside {
				padding: 0;
			}
		}
	}
}

/* Helpbox (used in the Help section) */
.ms-wrap {
	.ms-help-box {
		padding: 20px 20px 20px 40px;
		border-top: 1px solid #e5e5e5;

		&:hover {
			background: #FAFAFA;
		}

		.ms-help-toggle {
			margin-top: 5px;
			color: #0074a2;
			cursor: pointer;
			display: inline-block;
			padding-left: 10px;

			&:hover {
				color: #2ea2cc;
			}

			&:after {
				content: '...';
			}
		}

		.ms-help-details {
			border-left: 2px solid #0074a2;
			padding: 1px 10px;
			background: #FFF;
			margin: 10px 0;
		}

		.ms-help-default {
			display: inline-block;
			background: #FCFCFC;
			padding: 3px;
			margin: -3px 0 -3px 10px;
			font-size: 12px;
			color: #699;
		}

		ul {
			border-top: 1px solid #E5E5E5;
		}

		li {
			border-bottom: 1px solid #E5E5E5;
			padding: 5px 0;
			margin: 0;
		}

	}

	.ms-help-content {
		h3 {
			margin-left: -20px;
			margin-bottom: 8px;
		}

		hr {
			margin: 0 0 40px 0;
		}

		.top-menu {
			display: inline-block;
			position: relative;
			padding: 8px 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			margin: 0 20px 0 0;
			width: 160px;
			background: #0074a2;
			color: #fff;

			&:after {
				right: 0;
				border: 8px solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-right-color: #FFF;
				top: 50%;
				margin-top: -8px;
			}

			.menu-image {
				float: left;
				width: 36px;
				height: 18px;
				margin: 0;
				text-align: center;
				color: #fff;
			}
		}

		.menu-item {
			display: inline-block;
			position: relative;
			padding: 6px 12px;
			font-size: 13px;
			line-height: 1.2;
			margin: 0 20px 0 0;
			background-color: #333;
			width: 160px;
			color: #bbb;

			strong {
				color: #FFF;
			}
		}
	}
}

/* smaller forms */
.ms-wrap {
	.ms-small-form {
		max-width: 640px;
		margin: 0 auto;
	}
}