/**
 * Collects all SASS files into a single css file.
 *
 * https://make.wordpress.org/core/handbook/coding-standards/css/
 * The coding standard is applied to the SASS source files and formatting might
 * be slightly changed by compilation into CSS files. However, there is a
 * expanded dev-version of the CSS files and also a minified version without
 * any comments.
 */
/**
 * General styles used in settings screens.
 */
/* Affects all elements beneath .ms-wrap container */
.ms-wrap * {
  box-sizing: border-box;
}

/* Define general layout states */
.ms-wrap {
  margin: 10px 20px 0 2px;
}
.ms-wrap input,
.ms-wrap select,
.ms-wrap textarea {
  font-size: .9em;
}
.ms-wrap hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #E5E5E5;
}
.ms-wrap .clear {
  margin: 1em 0;
  padding: 0.5em 0;
}
.ms-wrap .ms-group {
  clear: both;
}
.ms-wrap .ms-group:after {
  content: '';
  display: table;
  clear: both;
}
.ms-wrap .handlediv {
  cursor: pointer;
}
.ms-wrap .disabled,
.ms-wrap .disabled:hover,
.ms-wrap .disabled:active,
.ms-wrap .disabled:focus {
  color: #999;
  cursor: not-allowed;
}

.ms-fa {
  font-family: Fontawesome420 !important;
}

/**
 * Typographic styles
 */
.ms-wrap {
  /*font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
.ms-wrap h3 {
  margin: 0 0 4px 0;
}
.ms-wrap .ms-important {
  font-weight: bold;
  color: #222;
  font-size: 1.1em;
}
.ms-wrap .ms-bold {
  font-weight: bold;
}
.ms-wrap .ms-italic {
  font-style: italic;
}
.ms-wrap .ms-low {
  opacity: 0.6;
}
.ms-wrap .ms-description {
  color: #888;
  font-size: 0.9em;
}
.ms-wrap .ms-description.ms-indented-description {
  padding-left: 20px;
}
.ms-wrap .ms-description .ms-bold,
.ms-wrap .ms-description .ms-italic {
  color: #4F616E;
}
.ms-wrap .ms-settings-description {
  margin-bottom: 15px;
  display: block;
}
.ms-wrap .ms-group-head {
  clear: both;
  padding-top: 15px;
}
.ms-wrap .ms-subtitle {
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 17px;
}

/**
 * Styles for tables.
 */
/* Form table */
.ms-wrap .form-table {
  border: 0;
}
.ms-wrap .form-table td,
.ms-wrap .form-table th {
  vertical-align: top;
}
.ms-wrap .form-table td {
  padding: 0;
  border: 0;
}

/* WordPress-style List tables */
.ms-wrap .widefat {
  margin: 10px 0;
}
.ms-wrap .widefat tbody th.check-column {
  padding: 15px 0 14px;
}
.ms-wrap .widefat tfoot {
  display: none;
}
.ms-wrap .widefat td {
  padding: 15px 6px 2px;
  vertical-align: top;
  font-size: 12px;
}
.ms-wrap .widefat .ms-child-row .column-name {
  padding-left: 15px;
}
.ms-wrap .widefat .ms-child-row .column-name:before {
  content: '\2014';
  display: inline-block;
  margin-right: 4px;
}
.ms-wrap .widefat.memberships td {
  border-top: 1px solid #CCC;
}
.ms-wrap .widefat.memberships tr:first-child td {
  border-top: 0;
}
.ms-wrap .widefat.memberships .ms-child-row td {
  border-top: 1px solid #EEE;
}
.ms-wrap .tablenav input,
.ms-wrap .tablenav select,
.ms-wrap .tablenav .wpmui-field-input,
.ms-wrap p.search-box input,
.ms-wrap p.search-box select,
.ms-wrap p.search-box .wpmui-field-input {
  margin-top: 0 !important;
  /* important: Some WordPress fields have a margin that needs to be cleared here */
  margin-bottom: 0 !important;
}
.ms-wrap .tablenav.bottom {
  display: none;
}
.ms-wrap .subsubsub {
  cursor: default;
}
.ms-wrap .subsubsub .group-label {
  padding: 0 4px 0 8px;
  color: #999;
}
.ms-wrap .subsubsub a {
  cursor: pointer;
}

/* Simple List Tables */
.ms-wrap .ms-list-table {
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
}
.ms-wrap .ms-list-table .col-text {
  text-align: left;
}
.ms-wrap .ms-list-table .col-date {
  text-align: center;
  max-width: 100px;
}
.ms-wrap .ms-list-table.limit-width {
  max-width: 600px;
}

/**
 * List styles
 */
/***
 * Tag list *
 ***/
.ms-wrap .ms-content-tag-list {
  margin: 10px 0;
  list-style: none;
}
.ms-wrap .ms-content-tag-list .ms-content-tag {
  float: left;
  margin: 0 2px 2px 0;
}
.ms-wrap .ms-content-tag-list .ms-content-tag a,
.ms-wrap .ms-content-tag-list .ms-content-tag span {
  display: block;
  padding: 2px 4px;
  border-radius: 3px;
  background: #BDC3C7;
  color: #FFF;
  font-size: 13px;
  font-weight: 200;
  text-decoration: none;
}
.ms-wrap .ms-content-tag-list .ms-content-tag a:hover,
.ms-wrap .ms-content-tag-list .ms-content-tag a:active,
.ms-wrap .ms-content-tag-list .ms-content-tag a:focus {
  background: #8E9295;
}

/**
 * Navigational tabs.
 */
.ms-wrap .ms-tab-container {
  float: left;
  width: 225px;
}
.ms-wrap .ms-tabs-titlerow {
  margin-left: 15px;
  font-weight: bold;
}
.ms-wrap .ms-tabs {
  float: left;
  width: 225px;
  margin: 0;
  padding: 0;
}
.ms-wrap .ms-tab {
  position: relative;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
  font-size: .9em;
  font-weight: 500;
}
.ms-wrap .ms-tab.active {
  background: #fff;
  border-color: #e5e5e5;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.04);
}
.ms-wrap .ms-tab.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  bottom: 0;
  background: #fff;
  font-size: 0;
  line-height: 0;
}
.ms-wrap .ms-tab.active .ms-tab-link {
  color: #222;
}
.ms-wrap .ms-tab-link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

/**
 * Box-styles (e.g. accordeon box)
 */
/***
 * General settings box *
 ***/
.ms-wrap .ms-settings {
  position: relative;
  overflow: hidden;
  padding: 10px 20px 20px;
  min-height: 280px;
  background: #fff;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.ms-wrap .ms-wrapper-center {
  max-width: 800px;
  margin: 0 auto;
}
.ms-wrap .ms-wrapper-center.wide {
  max-width: 1200px;
}
.ms-wrap .ms-part-4,
.ms-wrap .ms-part-3,
.ms-wrap .ms-part-2,
.ms-wrap .ms-quarter,
.ms-wrap .ms-third,
.ms-wrap .ms-half {
  position: relative;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.ms-wrap .ms-part-4.space,
.ms-wrap .ms-part-3.space,
.ms-wrap .ms-part-2.space,
.ms-wrap .ms-quarter.space,
.ms-wrap .ms-third.space,
.ms-wrap .ms-half.space {
  padding-right: 30px;
}
.ms-wrap .ms-part-4.right,
.ms-wrap .ms-part-3.right,
.ms-wrap .ms-part-2.right,
.ms-wrap .ms-quarter.right,
.ms-wrap .ms-third.right,
.ms-wrap .ms-half.right {
  float: right;
}
.ms-wrap .ms-part-3,
.ms-wrap .ms-third {
  width: 33.33333%;
}
.ms-wrap .ms-part-4,
.ms-wrap .ms-quarter {
  width: 25%;
}
.ms-wrap .ms-fixed-height .inside,
.ms-wrap .ms-settings-box.ms-fixed-height .inside {
  overflow: auto;
  height: 150px;
  padding: 0;
  margin: 20px 20px 0 0;
}
.ms-wrap .ms-min-height .inside,
.ms-wrap .ms-settings-box.ms-min-height .inside {
  min-height: 200px;
  padding: 0;
  margin: 20px 20px 0 0;
}

/* Settings overview with lighter background */
.ms-wrap .ms-wrap-top {
  margin: -15px -15px 0 -20px;
  padding: 15px 15px 15px 20px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
}

/* Accordeon box */
.ms-wrap .ms-settings-box-wrapper {
  background: #FBFBFB;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  min-width: 255px;
  position: relative;
  margin-bottom: 15px;
}
.ms-wrap .ms-settings-box {
  padding: 10px;
}
.ms-wrap .ms-settings-box .ms-header {
  padding: 10px;
  margin: -10px;
  border-bottom: 1px solid #E5E5E5;
  background: #F9F9F9;
}
.ms-wrap .ms-settings-box .ms-settings-description {
  margin-bottom: 0;
}
.ms-wrap .ms-settings-box .inside {
  padding-top: 20px;
}
.ms-wrap .ms-settings-box .handlediv {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.ms-wrap .ms-settings-box .handlediv:before {
  content: '\f142';
  position: relative;
  display: inline-block;
  right: 12px;
  top: 0;
  padding: 8px 10px;
  font: 400 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
}
.ms-wrap .ms-settings-box.closed .handlediv:before {
  content: '\f140';
}
.ms-wrap .ms-settings-box.nohead .ms-header {
  display: none;
}
.ms-wrap .ms-settings-box.nohead .inside {
  padding: 0;
}

/* Helpbox (used in the Help section) */
.ms-wrap .ms-help-box {
  padding: 20px 20px 20px 40px;
  border-top: 1px solid #e5e5e5;
}
.ms-wrap .ms-help-box:hover {
  background: #FAFAFA;
}
.ms-wrap .ms-help-box .ms-help-toggle {
  margin-top: 5px;
  color: #0074a2;
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
}
.ms-wrap .ms-help-box .ms-help-toggle:hover {
  color: #2ea2cc;
}
.ms-wrap .ms-help-box .ms-help-toggle:after {
  content: '...';
}
.ms-wrap .ms-help-box .ms-help-details {
  border-left: 2px solid #0074a2;
  padding: 1px 10px;
  background: #FFF;
  margin: 10px 0;
}
.ms-wrap .ms-help-box .ms-help-default {
  display: inline-block;
  background: #FCFCFC;
  padding: 3px;
  margin: -3px 0 -3px 10px;
  font-size: 12px;
  color: #699;
}
.ms-wrap .ms-help-box ul {
  border-top: 1px solid #E5E5E5;
}
.ms-wrap .ms-help-box li {
  border-bottom: 1px solid #E5E5E5;
  padding: 5px 0;
  margin: 0;
}
.ms-wrap .ms-help-content h3 {
  margin-left: -20px;
  margin-bottom: 8px;
}
.ms-wrap .ms-help-content hr {
  margin: 0 0 40px 0;
}
.ms-wrap .ms-help-content .top-menu {
  display: inline-block;
  position: relative;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 20px 0 0;
  width: 160px;
  background: #0074a2;
  color: #fff;
}
.ms-wrap .ms-help-content .top-menu:after {
  right: 0;
  border: 8px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #FFF;
  top: 50%;
  margin-top: -8px;
}
.ms-wrap .ms-help-content .top-menu .menu-image {
  float: left;
  width: 36px;
  height: 18px;
  margin: 0;
  text-align: center;
  color: #fff;
}
.ms-wrap .ms-help-content .menu-item {
  display: inline-block;
  position: relative;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.2;
  margin: 0 20px 0 0;
  background-color: #333;
  width: 160px;
  color: #bbb;
}
.ms-wrap .ms-help-content .menu-item strong {
  color: #FFF;
}

/**
 * Navigational elements.
 */
.ms-wrap .ms-bread-crumb {
  text-align: center;
}
.ms-wrap .ms-bread-crumb a {
  text-decoration: none;
}
.ms-wrap .ms-bread-crumb .ms-bread-crumb-sep {
  margin: 0 .5em;
  color: #AAA;
}
.ms-wrap .ms-bread-crumb .ms-bread-crumb-next {
  color: #AAA;
}

/**
 * Settings header and footer.
 */
/* Header styles */
.ms-wrap .ms-settings-title {
  padding: 9px 15px;
  margin: 0;
  font-size: 1.6em;
  line-height: 29px;
  text-align: center;
}
.ms-wrap .ms-settings-desc {
  margin: 0 auto;
  text-align: center;
}

/* Footer styles */
.ms-wrap .ms-settings-footer {
  position: relative;
  margin: 10px 0;
}

/**
 * Styles for forms and input elements
 */
/***
 * GENERAL STYLES *
 ***/
.ms-wrap .button,
.ms-wrap .button-primary {
  margin-right: 6px;
}
.ms-wrap .ms-field-container {
  margin: 10px 0;
}
.ms-wrap .ms-field-wp-editor {
  height: 5em;
  width: 100%;
}
.ms-wrap .ms-text {
  display: inline-block;
}
.ms-wrap .ms-text-small {
  width: 4em;
}
.ms-wrap .ms-text-medium {
  width: 300px;
}
.ms-wrap .ms-text-large {
  width: 400px;
}
.ms-wrap .ms-textarea-medium {
  height: 10em;
}
.ms-wrap input[type="text"] {
  min-height: 28px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
}
.ms-wrap .disabled input,
.ms-wrap input.disabled,
.ms-wrap input[disabled] {
  cursor: default;
}
.ms-wrap .ms-no-data {
  font-style: italic;
  padding: 3px 0;
  line-height: 24px;
  opacity: .6;
}
.ms-wrap .ms-no-data:before, .ms-wrap .ms-no-data:after {
  content: ' - ';
}
.ms-wrap input.ms-center,
.ms-wrap select.ms-center,
.ms-wrap textarea.ms-center {
  margin-left: auto;
  margin-right: auto;
}

/***
 * DATEPICKER *
 ***/
#wpadminbar,
.ms-wrap {
  /*
  .ui-datepicker {
  	margin-top: 10px;
  }
  */
}
#wpadminbar .ms-datepicker-wrapper,
.ms-wrap .ms-datepicker-wrapper {
  display: inline-block;
  position: relative;
}
#wpadminbar .ms-datepicker-wrapper .ms-icon,
.ms-wrap .ms-datepicker-wrapper .ms-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 28px;
  width: 21px;
  line-height: 28px;
  text-align: left;
  opacity: .5;
  cursor: pointer;
  color: #444;
}

.ui-datepicker.ms-datepicker {
  padding: 0;
  border: none;
  /* Get rid of bevel corners */
  /* New icons */
}
.ui-datepicker.ms-datepicker .ui-datepicker-header, .ui-datepicker.ms-datepicker.ui-corner-all {
  border-radius: 0;
}
.ui-datepicker.ms-datepicker .ui-datepicker-prev span,
.ui-datepicker.ms-datepicker .ui-datepicker-next span,
.ui-datepicker.ms-datepicker .ui-state-hover .ui-icon,
.ui-datepicker.ms-datepicker .ui-state-focus .ui-icon,
.ui-datepicker.ms-datepicker .ui-widget-header .ui-icon,
.ui-datepicker.ms-datepicker .ui-icon {
  background-image: url(../images/ui-icons-white.png);
}
.ui-datepicker.ms-datepicker .ui-datepicker-header {
  padding: 0;
  border: none;
  background: #4F83AA;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: normal;
}
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody td a,
.ui-datepicker.ms-datepicker td span,
.ui-datepicker.ms-datepicker td a {
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker.ms-datepicker .ui-datepicker-calendar {
  padding: 3px;
  background: #375D7A;
}
.ui-datepicker.ms-datepicker .ui-datepicker-calendar thead th {
  padding: 3px 5px;
  font-size: 0.9em;
  font-weight: normal;
  color: #FFFFFF;
}
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-state-default,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-default,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-default {
  border: 0;
  background: #223D52;
  color: #FFFFFF;
}
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-state-active,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-active,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-active,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-state-hover,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-content .ui-state-hover,
.ui-datepicker.ms-datepicker .ui-datepicker-calendar tbody .ui-widget-header .ui-state-hover {
  background: #4F83AA;
}

/***
 * RADIO BUTTONS *
 ***/
.ms-wrap .wpmui-radio-wrapper {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

#wpwrap .ms-wrap .wpmui-radio {
  margin: 2px 4px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}
#wpwrap .ms-wrap .wpmui-radio-caption {
  padding-left: 24px;
  font-weight: 500;
  margin: 8px 0 2px;
  display: block;
}
#wpwrap .ms-wrap label {
  position: relative;
  display: block;
  width: 100%;
}

/***
 * SELECT2 *
 ***/
.ms-select2.select2-container-multi .select2-choices .select2-search-field input {
  padding-top: 0;
  padding-bottom: 0;
}
.ms-select2.select2-container {
  margin-right: .5em;
}
.ms-select2.select2-container a {
  transition-duration: 0 !important;
  /* Inside select2 there should be no default link transitions */
}
.ms-select2.select2-container .select2-choice,
.ms-select2.select2-container .select2-choices {
  height: 28px;
  line-height: 27px;
  font-size: 14px;
  border-radius: 3px;
  border-color: #CCC;
}
.ms-select2.select2-container .select2-choice .select2-arrow,
.ms-select2.select2-container .select2-choices .select2-arrow {
  border: 0;
  background: transparent;
}
.ms-select2.select2-dropdown-open .select2-choice,
.ms-select2.select2-dropdown-open .select2-choices {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ms-select2.select2-container-active .select2-choice,
.ms-select2.select2-container-active .select2-choices {
  border-color: #5897fb;
}
.ms-select2 .select2-search {
  margin-bottom: 4px;
  font-size: 14px;
}
.ms-select2 .select2-results {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.ms-select2 .select2-results .select2-result {
  margin: 0;
}
.ms-select2 .select2-results .select2-highlighted {
  background: #F4F4F4;
  color: #000;
}
.ms-select2 .select2-results .select2-match {
  text-decoration: none;
  background: #77C9FF;
  color: #FFF;
  border-radius: 3px;
  font-weight: 100;
}
.ms-select2 .select2-results .select2-match:empty {
  display: none;
}
.ms-select2 .select2-results .select2-disabled {
  background: #DDD;
  font-weight: 200;
  opacity: .5;
}
.ms-select2 .select2-results .select2-disabled .select2-result-label {
  cursor: default;
}

.select2-drop {
  overflow: hidden;
  border-radius: 0 0 3px 3px;
}

/* When a thickbox window is open make sure the select2-dropdown is visible */
.modal-open .select2-drop-mask {
  z-index: 999998;
}
.modal-open .select2-drop {
  z-index: 999999;
}

/***
 * RADIO SLIDER *
 ***/
.ms-wrap .wpmui-radio-slider-wrapper {
  clear: both;
}
.ms-wrap .wpmui-radio-slider:focus {
  background: none;
  outline: none;
}
.ms-wrap .wpmui-radio-slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  margin: 3px 0;
  border-radius: 10px;
  background: #b0b0b0;
  opacity: .8;
  overflow: hidden;
}
.ms-wrap .wpmui-radio-slider:hover {
  cursor: pointer;
  opacity: 1;
}
.ms-wrap .wpmui-radio-slider .ms-toggle {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #F4F4F4;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}
.ms-wrap .wpmui-radio-slider .ms-toggle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ms-wrap .wpmui-radio-slider.on .ms-toggle {
  left: 21px;
}
.ms-wrap .wpmui-radio-slider.on {
  background: #6bbb1a;
}
.ms-wrap .wpmui-radio-slider.ms-processing {
  cursor: wait;
}
.ms-wrap h3 .wpmui-radio-slider-wrapper {
  display: inline-block;
  position: relative;
  top: 8px;
  margin: -8px 0 0 40px;
}

/***
 * TAG SELECT *
 ***/
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data {
  display: block;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-choices {
  background: transparent;
  border: 0;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-choices .select2-search-choice-close {
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background: transparent url(../images/membership_sprite.svg) no-repeat;
  background-position: -242px -143px;
  opacity: 0.6;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-choices .select2-search-choice-close:hover {
  opacity: 1;
  background-position: -42px -143px;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-search-choice {
  float: none;
  display: block;
  margin-left: 0;
  margin-right: 3px;
  line-height: 22px;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  box-shadow: 0 0 0 transparent;
  background: transparent;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-search-choice.select2-search-choice-focus {
  background: #f8f8f8;
  border-color: #e5e5e5;
}
.ms-wrap .wpmui-tag-selector-wrapper .ms-tag-data .select2-search-field {
  display: none;
}
.ms-wrap .ms-tag-label {
  margin: 10px 0 5px;
}
.ms-wrap .ms-tag-label .ms-img {
  float: left;
}

/***
 * BUTTONS *
 ***/
.ms-wrap .button-primary {
  min-width: 120px;
}
.ms-wrap button#next:after {
  content: ' \00bb';
}

/***
 * WP EDITOR *
 ***/
.ms-wrap #wp-content-editor-tools {
  background-color: transparent;
}
.ms-wrap .wp-switch-editor {
  box-sizing: content-box;
}
.ms-wrap .wp-editor-tools {
  padding-top: 20px;
}

/***
 * POPUP *
 ***/
.wpmui-wnd .ms-description {
  margin-bottom: 10px;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  font-size: 12px;
}

/**
 * Confirmation messages
 */
/* Ajax confirmation message */
.ms-wrap .ms-save-text-wrapper {
  display: none;
  position: relative;
  font-size: .9em;
  font-weight: 500;
  max-width: 100%;
}
.ms-wrap .ms-save-text-wrapper .ms-error-text,
.ms-wrap .ms-save-text-wrapper .loading-animation {
  display: none;
}
.ms-wrap .ms-save-text-wrapper .ms-saving-text,
.ms-wrap .ms-save-text-wrapper .ms-saved-text {
  display: none;
  width: 155px;
  max-width: 100%;
}
.ms-wrap .ms-save-text-wrapper .err-code {
  display: block;
}
.ms-wrap .ms-save-text-wrapper.ms-processing, .ms-wrap .ms-save-text-wrapper.okay, .ms-wrap .ms-save-text-wrapper.error {
  display: inline-block;
}
.ms-wrap .ms-save-text-wrapper.ms-processing .ms-saving-text,
.ms-wrap .ms-save-text-wrapper.ms-processing .loading-animation {
  display: inline-block;
}
.ms-wrap .ms-save-text-wrapper.okay .ms-saved-text {
  display: inline-block;
}
.ms-wrap .ms-save-text-wrapper.error .ms-error-text {
  display: inline-block;
}
.ms-wrap .ms-saved-text {
  color: #6DB724;
}
.ms-wrap .ms-error-text {
  color: #D73D24;
}
.ms-wrap .loading-animation {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  overflow: hidden;
  background: transparent url("../images/spinner.gif") top left no-repeat;
}
.ms-wrap .inside .ms-save-text-wrapper {
  height: 28px;
  line-height: 28px;
  margin: 6px 6px 0 0;
}
.ms-wrap .inside .ms-save-text-wrapper .loading-animation {
  margin-top: 4px;
}

/**
 * Tooltip elements
 */
/* The "Info" icon */
.ms-tooltip-wrapper {
  display: inline;
  position: relative;
  z-index: 100;
}
.ms-tooltip-wrapper .ms-tooltip-info {
  display: inline;
  min-width: 20px;
  border-radius: 20px;
  font-weight: normal;
  font-size: 15px;
  color: #0094dc;
  cursor: pointer;
}

/* The actual tooltip */
.ms-tooltip {
  display: none;
  position: absolute;
  width: 325px;
  left: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #fafafa;
  color: #555555;
  font: 12px/16px verdana;
  box-shadow: rgba(0, 0, 0, 0.12) -3px 0px 10px 1px;
  /** Add left arrow. */
}
.ms-tooltip:before {
  position: absolute;
  content: ' ';
  left: -8px;
  top: 10px;
  border: 10px solid transparent;
  border-right: 10px solid #fafafa;
  /* bottom, add background color here */
}
.ms-tooltip .ms-tooltip-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font: 16px/12px bold "Helvetica";
  cursor: pointer;
}
.ms-tooltip .ms-tooltip-content {
  padding: 20px;
}

/**
 * Custom icons/sprites/images
 */
.ms-wrap {
  /* 100 x 80 */
  /* 40 x 32 */
  /* 16 x 16 */
}
.ms-wrap .ms-img-type-simple,
.ms-wrap .ms-img-type-content_type,
.ms-wrap .ms-img-type-tier,
.ms-wrap .ms-img-type-dripped,
.ms-wrap .ms-img-unlock,
.ms-wrap .ms-img-lock,
.ms-wrap .ms-img-lock-grey,
.ms-wrap .ms-img-info,
.ms-wrap .ms-img-question,
.ms-wrap .ms-img-warning,
.ms-wrap .ms-img-cancel {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: transparent url(../images/membership_sprite.png) no-repeat;
  background: transparent url(../images/membership_sprite.svg) no-repeat;
}
.ms-wrap .ms-img-type-simple,
.ms-wrap .ms-img-type-content_type,
.ms-wrap .ms-img-type-tier,
.ms-wrap .ms-img-type-dripped {
  width: 100px;
  height: 80px;
}
.ms-wrap .ms-img-type-simple {
  background-position: 0 -20px;
}
.ms-wrap .ms-img-type-content_type {
  background-position: -100px -10px;
}
.ms-wrap .ms-img-type-tier {
  background-position: -200px -8px;
}
.ms-wrap .ms-img-type-dripped {
  background-position: -300px -10px;
}
.ms-wrap .small.ms-img-type-simple, .ms-wrap .small.ms-img-type-content_type, .ms-wrap .small.ms-img-type-tier, .ms-wrap .small.ms-img-type-dripped {
  width: 40px;
  height: 33px;
}
.ms-wrap .small.ms-img-type-simple {
  background-position: -430px -33px;
}
.ms-wrap .small.ms-img-type-content_type {
  background-position: -530px -33px;
}
.ms-wrap .small.ms-img-type-tier {
  background-position: -613px -33px;
  /* or -649px */
}
.ms-wrap .small.ms-img-type-dripped {
  background-position: -729px -33px;
}
.ms-wrap .wp-list-table .small.ms-img-type-simple, .ms-wrap .wp-list-table .small.ms-img-type-content_type, .ms-wrap .wp-list-table .small.ms-img-type-tier, .ms-wrap .wp-list-table .small.ms-img-type-dripped,
.ms-wrap .widefat .small.ms-img-type-simple,
.ms-wrap .widefat .small.ms-img-type-content_type,
.ms-wrap .widefat .small.ms-img-type-tier,
.ms-wrap .widefat .small.ms-img-type-dripped {
  vertical-align: middle;
  margin-top: -5px;
}
.ms-wrap .ms-img-unlock,
.ms-wrap .ms-img-lock,
.ms-wrap .ms-img-lock-grey,
.ms-wrap .ms-img-edit,
.ms-wrap .ms-img-info,
.ms-wrap .ms-img-question,
.ms-wrap .ms-img-warning,
.ms-wrap .ms-img-cancel {
  width: 16px;
  height: 16px;
}
.ms-wrap .ms-img-unlock {
  background-position: -42px -143px;
}
.ms-wrap .ms-img-lock {
  background-position: -142px -143px;
}
.ms-wrap .ms-img-lock-grey {
  background-position: -242px -143px;
}
.ms-wrap .ms-img-edit {
  background-position: -342px -143px;
}
.ms-wrap .ms-img-info {
  background-position: -442px -143px;
}
.ms-wrap .ms-img-question {
  background-position: -542px -143px;
}
.ms-wrap .ms-img-warning {
  background-position: -642px -143px;
}
.ms-wrap .ms-img-cancel {
  background-position: -742px -143px;
}

/**
 * Special styles used on "Welcome" page
 */
.ms-wrap .ms-welcome-box {
  text-align: center;
}
.ms-wrap .ms-welcome-box .ms-welcome-title {
  font-size: 44px;
  font-weight: bold;
  margin: 40px 0 32px;
}
.ms-wrap .ms-welcome-box .ms-welcome-text {
  margin-bottom: 24px;
}
.ms-wrap .ms-welcome-box .ms-welcome-image-box {
  position: relative;
  min-height: 60px;
}
.ms-wrap .ms-welcome-box .ms-welcome-image {
  max-width: 80%;
  width: 200px;
}
.ms-wrap .ms-welcome-box .ms-welcome-start {
  padding: 11px 40px;
  font-size: 16px;
  height: auto;
  position: relative;
  top: -60px;
}

/**
 * Special styles used on "Membership" pages
 */
/* Page: Create new Membership */
.ms-wrap .ms-type-wrapper {
  position: relative;
  margin-bottom: 20px;
}
.ms-wrap .ms-name-wrapper,
.ms-wrap .ms-private-wrapper {
  float: left;
  width: 50%;
  min-height: 7em;
  max-width: 880px;
}
.ms-wrap .ms-name-wrapper.disabled *,
.ms-wrap .ms-private-wrapper.disabled * {
  color: #999;
  opacity: .7;
  cursor: default;
}
.ms-wrap .ms-control-fields-wrapper {
  clear: both;
}
.ms-wrap .ms-settings-type {
  max-width: 1200px;
  margin: 1em auto 0;
}
.ms-wrap .wrapper-type {
  margin-left: 10px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper {
  position: relative;
  float: left;
  margin: 1em 0 0;
  padding: 0 40px 0 0;
  width: 25%;
  min-width: 250px;
  max-width: 440px;
  background-color: transparent;
  outline: none;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  right: 30px;
  bottom: 0;
  background: #fdfdfd;
  box-shadow: 0 0 0 1px #EEE;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper:hover:before {
  background: #fcfcfc;
  box-shadow: 0 0 0 1px #CCC;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.active:before, .ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.active:hover:before {
  background: #f7fcfe;
  box-shadow: 0 0 0 2px #2ea2cc;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper .wpmui-radio {
  opacity: 0;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper .wpmui-radio-caption {
  padding-left: 0 !important;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper label {
  padding-top: 80px;
  height: 280px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper label:before {
  display: inline-block;
  position: absolute;
  content: '';
  left: 50%;
  top: 10px;
  width: 100px;
  height: 80px;
  margin-left: -50px;
  background: url(../images/membership_sprite.png);
  background: url(../images/membership_sprite.svg), none;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.wpmui-simple label:before {
  background-position: 0 -30px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.wpmui-content_type label:before {
  background-position: -100px -20px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.wpmui-tier label:before {
  background-position: -200px -18px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper.wpmui-dripped label:before {
  background-position: -300px -20px;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper .wpmui-radio-caption {
  margin-bottom: 1em;
  font-weight: 600;
  color: #222;
}
.ms-wrap .ms-choose-type.wpmui-radio-input-wrapper .wpmui-input-description {
  color: #666;
  font-weight: 200;
}
.ms-wrap .ms-locked {
  position: relative;
  cursor: not-allowed;
}
.ms-wrap .ms-locked .wpmui-field-label {
  cursor: not-allowed;
}
.ms-wrap .ms-locked .wpmui-field-label:before,
.ms-wrap .ms-locked .wpmui-radio-caption {
  opacity: 0.45;
  cursor: not-allowed;
}
.ms-wrap .ms-locked .wpmui-input-description {
  color: #CCC !important;
  cursor: not-allowed;
}
.ms-wrap .ms-locked .locked-info {
  position: absolute;
  background: #333;
  color: #EEE;
  top: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 5px;
  font-style: normal;
  font-size: 12px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}
.ms-wrap .ms-locked.ms-choose-type.wpmui-radio-input-wrapper:before {
  opacity: 0.35;
}
.ms-wrap .ms-locked:hover .locked-info {
  display: inline-block !important;
}

/* Page: Payment options */
.ms-wrap .wrapper-is_free {
  max-width: 400px;
  display: block;
}
.ms-wrap .wrapper-is_free .ms-radio-input-wrapper {
  width: 49.5%;
  float: left;
}
.ms-wrap .wrapper-is_free label {
  float: none;
  display: inline-block;
  width: auto;
}
.ms-wrap .widefat th.column-active,
.ms-wrap .widefat td.column-active {
  width: 135px;
  text-align: center;
}
.ms-wrap .ms-global-payment-wrapper .wpmui-field-input {
  width: 100%;
}
.ms-wrap .ms-item-name {
  color: #4F7984;
}
.ms-wrap .ms-trial-wrapper {
  margin-top: 15px;
}

/**
 * Settings module.
 */
#wpwrap .ms-wrap {
  /** Settings Box **/
  /** Member search */
  /** jquery validation */
  /** radio slider */
  /* Dripped icon indicator */
  /* Settings Page Settings */
  /* SETTING: GENERAL */
  /* SETTINGS: IMPORT */
  /* SETTINGS GATEWAY */
  /* MEMBERS LIST */
  /* MEDIA /DOWNLOADS TAB */
}
#wpwrap .ms-wrap .ms-settings .settings-description {
  margin: 1em 0;
}
#wpwrap .ms-wrap .ms-label {
  display: block;
  padding-bottom: 5px;
}
#wpwrap .ms-wrap .ms-margin-right {
  margin-right: 10px;
}
#wpwrap .ms-wrap .ms-postbox.ms-default-margin {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}
#wpwrap .ms-wrap .ms-text-label,
#wpwrap .ms-wrap .ms-ok,
#wpwrap .ms-wrap .ms-nok {
  color: #222;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}
#wpwrap .ms-wrap .ms-ok {
  color: #7ad03a;
}
#wpwrap .ms-wrap .ms-nok {
  color: red;
}
#wpwrap .ms-wrap .ms-settings .ms-settings-box h3.wpmui-field-label {
  border: none;
  padding: 0;
  font-size: 1.1em;
  cursor: default;
  margin-top: 15px;
}
#wpwrap .ms-wrap #member-search-options {
  position: relative;
  top: -2px;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
}
@media (max-width: 900px) {
  #wpwrap .ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  #wpwrap .ms-wrap .ms-tabs a {
    padding: 5px;
    min-height: 40px;
  }
  #wpwrap .ms-wrap .ms-settings {
    min-height: 350px;
  }
}
#wpwrap .ms-wrap .ms-validation-error {
  color: #e46c6e !important;
}
#wpwrap .ms-wrap label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.9em;
  margin: 5px;
  padding: 2px;
  position: absolute;
  width: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#wpwrap .ms-wrap label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}
#wpwrap .ms-wrap #membership_access .wpmui-radio-slider {
  margin: 10px 20px;
}
#wpwrap .ms-wrap div.dripped .tooltip {
  display: none;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper {
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action {
  opacity: 0;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover {
  background-color: #FAFAFA;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action {
  opacity: 1;
}
#wpwrap .ms-wrap textarea.wpmui-field-input {
  min-width: 80%;
  display: block;
}
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio {
  margin-top: 10px;
}
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
}
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption label,
#wpwrap .ms-wrap .wrapper-import_source .wpmui-radio-caption .wpmui-field-input {
  width: auto;
  margin: 0 12px 0 0;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-label {
  width: 150px;
  text-align: left;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-name {
  font-weight: bold;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-count {
  text-align: center;
  width: 150px;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview.wpmui-html-table {
  margin: -10px;
  border: 0;
  box-shadow: 0 0 0 transparent;
  width: calc(100% + 20px);
}
#wpwrap .ms-wrap .gateways .is-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .wpmui-radio-slider {
  display: none;
}
#wpwrap .ms-wrap .gateways .not-configured .ms-gateway-setup-wrapper {
  display: block;
}
#wpwrap .ms-wrap .gateways .mode-unknown,
#wpwrap .ms-wrap .gateways .mode-sandbox,
#wpwrap .ms-wrap .gateways .mode-live {
  display: none;
}
#wpwrap .ms-wrap .gateways .not-configured .mode-unknown,
#wpwrap .ms-wrap .gateways .is-configured.is-sandbox .mode-sandbox,
#wpwrap .ms-wrap .gateways .is-configured.is-live .mode-live {
  display: block;
}
#wpwrap .ms-wrap .gateways .mode-live {
  font-weight: bold;
}
#wpwrap .ms-wrap .gateways .offline-flag {
  display: none;
}
#wpwrap .ms-wrap .gateways .is-offline {
  /* PayPal Standard does not work in offline mode */
}
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag, #wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag {
  display: inline-block;
}
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag:before, #wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag:before {
  content: '\f071';
  margin-left: 6px;
  color: #B30;
}
#wpwrap .ms-wrap #search_options {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
}
#wpwrap .ms-wrap .wpmui-description-masked_url {
  display: inline-block;
}

/**
 * Admin-Bar module.
 */
#wpadminbar.simulation-mode {
  background: #223D52;
}

#wpadminbar #wp-toolbar {
  /* Button: Start/Stop Test-Mode */
  /* Mode: View-Site-As */
  /* General styles */
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item {
  position: relative;
  display: block;
  background-color: transparent;
  color: #F0F0F0;
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  z-index: -1;
  background-color: #0A6C9C;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item {
  color: #FFF;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #0094DC;
}
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  background-color: #9C2C0A;
}
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #CC4C32;
}
#wpadminbar #wp-toolbar .ms-exit-memberships {
  position: absolute;
  right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-date,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-date {
  display: inline;
  width: 105px;
  padding-right: 25px;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-small,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-small {
  display: inline;
  width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-simulate-info,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-simulate-info {
  padding-left: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input,
#wpadminbar #wp-toolbar .membership-view-site-as input,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input {
  height: 23px;
  line-height: 21px;
  margin: 4px;
  box-sizing: border-box;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input button {
  margin: 0;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-icon,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-icon {
  line-height: 24px;
  height: 24px;
  width: 18px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-view-site-as input {
  padding: 2px;
  text-align: center;
  border: none;
  min-width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-view-site-as select {
  margin-right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-view-site-as button {
  padding: 0 15px;
}
#wpadminbar #wp-toolbar .membership-simulate-period form,
#wpadminbar #wp-toolbar .membership-simulate-period div,
#wpadminbar #wp-toolbar .membership-simulate-period div.ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as form,
#wpadminbar #wp-toolbar .membership-view-site-as div,
#wpadminbar #wp-toolbar .membership-view-site-as div.ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  display: inline;
  max-height: 32px;
}
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  font-size: 12px;
  padding: 0 0 0 15px;
  color: #aaa;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period:hover > .ab-item {
  background-color: inherit;
  color: inherit;
}
