/**
 * Collects all SASS files into a single css file.
 *
 * https://make.wordpress.org/core/handbook/coding-standards/css/
 * The coding standard is applied to the SASS source files and formatting might
 * be slightly changed by compilation into CSS files. However, there is a
 * expanded dev-version of the CSS files and also a minified version without
 * any comments.
 */
/**
 * General styles used in settings screens.
 */
/* Affects all elements beneath .ms-wrap container */
.ms-wrap * {
  box-sizing: border-box;
}

/* Define general layout states */
.ms-wrap {
  margin: 10px 20px 0 2px;
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.ms-wrap input,
.ms-wrap select,
.ms-wrap textarea {
  font-size: .9em;
}
.ms-wrap .ms-bold {
  font-weight: bold;
}
.ms-wrap .ms-italic {
  font-style: italic;
}
.ms-wrap .clear {
  margin: 1em 0;
  padding: 0.5em 0;
}
.ms-wrap .clear hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #E5E5E5;
}

/* Box styles */
.ms-wrap .ms-settings {
  position: relative;
  overflow: hidden;
  padding: 10px 20px 20px;
  min-height: 350px;
  background: #fff;
  border: 1px solid #E5E5E5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

/**
 * Styles for tables.
 */
/* Form table */
.ms-wrap .form-table {
  border: 0;
}
.ms-wrap .form-table td,
.ms-wrap .form-table th {
  vertical-align: top;
}
.ms-wrap .form-table td {
  padding: 0;
  border: 0;
}

/**
 * Navigational tabs.
 */
.ms-wrap .ms-tab-container {
  float: left;
  width: 225px;
  min-height: 620px;
}
.ms-wrap .ms-tabs {
  float: left;
  width: 225px;
  margin: 0;
  padding: 0;
}
.ms-wrap .ms-tab {
  position: relative;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
  font-size: .9em;
  font-weight: 500;
}
.ms-wrap .ms-tab.active {
  background: #fff;
  border-color: #ccc;
}
.ms-wrap .ms-tab.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  bottom: 0;
  background: #fff;
  font-size: 0;
  line-height: 0;
}
.ms-wrap .ms-tab.active .ms-tab-link {
  color: #222;
}
.ms-wrap .ms-tab-link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

/**
 * Settings header and footer.
 */
/* Header styles */
.ms-wrap .ms-settings-title {
  padding: 9px 15px;
  margin: 0;
  font-size: 1.6em;
  line-height: 29px;
  text-align: center;
}
.ms-wrap .ms-settings-desc-wrapper {
  margin: 9px 15px;
}
.ms-wrap .ms-settings-desc {
  margin: 0 auto;
  text-align: center;
}

/* Footer styles */
.ms-wrap .ms-settings-footer {
  position: relative;
  margin: 10px;
}

/**
 * Styles for forms and input elements
 */
/* General styles */
.ms-wrap .ms-field-description {
  display: inline-block;
  margin: 10px 0;
  color: #666;
  font-size: 0.9em;
  font-weight: normal;
}
.ms-wrap .ms-field-input,
.ms-wrap .ms-field-input.button {
  margin: 0.5em 0;
}
.ms-wrap .ms-field-container {
  margin: 10px 0;
}
.ms-wrap .ms-field-label {
  display: block;
}
.ms-wrap .ms-field-input-label {
  margin: 2px 0;
  font-style: normal;
  color: #222;
}
.ms-wrap .disabled input,
.ms-wrap input.disabled,
.ms-wrap input[disabled] {
  cursor: default;
}

/* Radio buttons */
.ms-wrap .ms-radio {
  margin: 2px 4px 0 0;
  float: left;
}
.ms-wrap .ms-radio-wrapper {
  margin: 0 auto;
}
.ms-wrap .ms-radio-wrapper .ms-radio-caption {
  padding-left: 24px;
  font-weight: 500;
}
.ms-wrap .ms-radio-wrapper label {
  position: relative;
  float: left;
  width: 100%;
}

/* Checkbox buttons */
.ms-wrap .ms-checkbox {
  margin: 2px 4px 0 0;
  float: left;
}
.ms-wrap .ms-checkbox-wrapper {
  margin: 0 auto;
}
.ms-wrap .ms-checkbox-wrapper .ms-checkbox-caption {
  padding-left: 24px;
  font-weight: 500;
}

/**
 * Special styles used on "Membership" pages
 */
/* Page: Create new Membership */
.ms-wrap .ms-name-wrapper,
.ms-wrap .ms-private-wrapper {
  float: left;
  width: 50%;
  min-height: 7em;
  max-width: 880px;
}
.ms-wrap .ms-name-wrapper.disabled *,
.ms-wrap .ms-private-wrapper.disabled * {
  color: #999;
  opacity: .7;
}
.ms-wrap .ms-control-fields-wrapper {
  clear: both;
}
.ms-wrap .ms-chose-type {
  position: relative;
  float: left;
  margin: 1em 0 0;
  padding: 80px 40px 0 0;
  width: 25%;
  min-width: 250px;
  max-width: 440px;
  background-color: transparent;
  outline: none;
}
.ms-wrap .ms-chose-type label:before {
  display: inline-block;
  position: absolute;
  content: '';
  left: 50%;
  top: -80px;
  width: 100px;
  height: 80px;
  margin-left: -50px;
  background: url(../images/membership_sprite.png);
  background: url(../images/membership_sprite.svg), none;
}
.ms-wrap .ms-chose-type.ms-simple label:before {
  background-position: 0 -30px;
}
.ms-wrap .ms-chose-type.ms-content_type label:before {
  background-position: -100px -20px;
}
.ms-wrap .ms-chose-type.ms-tier label:before {
  background-position: -200px -18px;
}
.ms-wrap .ms-chose-type.ms-dripped label:before {
  background-position: -300px -20px;
}
.ms-wrap .ms-chose-type .ms-radio-caption {
  margin-bottom: 1em;
}

.ms-title {
  color: #222;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
  margin: 10px 0;
  color: #F00;
  background: #FEE;
}
