/**
 * Collects all SASS files into a single css file.
 *
 * https://make.wordpress.org/core/handbook/coding-standards/css/
 * The coding standard is applied to the SASS source files and formatting might
 * be slightly changed by compilation into CSS files. However, there is a
 * expanded dev-version of the CSS files and also a minified version without
 * any comments.
 */
/**
 * Admin-Bar module.
 */
#wpadminbar.simulation-mode {
  background: #223D52;
}

#wpadminbar #wp-toolbar {
  /* Button: Start/Stop Test-Mode */
  /* Mode: View-Site-As */
  /* General styles */
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item {
  position: relative;
  display: block;
  background-color: transparent;
  color: #F0F0F0;
}
#wpadminbar #wp-toolbar .ms-test-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  margin: 0;
  z-index: -1;
  background-color: #0A6C9C;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item {
  color: #FFF;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > a.ab-item:after,
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #0094DC;
}
#wpadminbar #wp-toolbar .ms-unprotected > a.ab-item:after {
  background-color: #9C2C0A;
}
#wpadminbar #wp-toolbar .ms-unprotected:hover > a.ab-item:after {
  background-color: #CC4C32;
}
#wpadminbar #wp-toolbar .ms-exit-memberships {
  position: absolute;
  right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-date,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-date {
  display: inline;
  width: 105px;
  padding-right: 25px;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-small,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-small {
  display: inline;
  width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-simulate-info,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-simulate-info {
  padding-left: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input,
#wpadminbar #wp-toolbar .membership-view-site-as input,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input {
  height: 23px;
  line-height: 21px;
  margin: 4px;
  box-sizing: border-box;
}
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-simulate-period .wpmui-field-input button,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input input,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input select,
#wpadminbar #wp-toolbar .membership-view-site-as .wpmui-field-input button {
  margin: 0;
}
#wpadminbar #wp-toolbar .membership-simulate-period .ms-icon,
#wpadminbar #wp-toolbar .membership-view-site-as .ms-icon {
  line-height: 24px;
  height: 24px;
  width: 18px;
}
#wpadminbar #wp-toolbar .membership-simulate-period input,
#wpadminbar #wp-toolbar .membership-view-site-as input {
  padding: 2px;
  text-align: center;
  border: none;
  min-width: 2em;
}
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-view-site-as select {
  margin-right: 10px;
}
#wpadminbar #wp-toolbar .membership-simulate-period button,
#wpadminbar #wp-toolbar .membership-view-site-as button {
  padding: 0 15px;
}
#wpadminbar #wp-toolbar .membership-simulate-period form,
#wpadminbar #wp-toolbar .membership-simulate-period div,
#wpadminbar #wp-toolbar .membership-simulate-period div.ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period select,
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as form,
#wpadminbar #wp-toolbar .membership-view-site-as div,
#wpadminbar #wp-toolbar .membership-view-site-as div.ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as select,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  display: inline;
  max-height: 32px;
}
#wpadminbar #wp-toolbar .membership-simulate-period small,
#wpadminbar #wp-toolbar .membership-view-site-as small {
  font-size: 12px;
  padding: 0 0 0 15px;
  color: #aaa;
}
#wpadminbar #wp-toolbar .ms-test-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .ms-exit-memberships:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-view-site-as:hover > .ab-item,
#wpadminbar #wp-toolbar .membership-simulate-period:hover > .ab-item {
  background-color: inherit;
  color: inherit;
}

/**
 * Shortcode Styles
 */
.ms-membership-form-wrapper legend {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  font-size: 1.6em;
}
.ms-membership-form-wrapper label {
  display: block;
  margin-bottom: 5px;
}
.ms-membership-form-wrapper .sandbox-mode {
  background-color: #FFC;
}
.ms-membership-form-wrapper .sandbox-mode .ms-buy-now-column {
  position: relative;
}
.ms-membership-form-wrapper .sandbox-mode .ms-buy-now-column:after {
  content: 'Sandbox';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  line-height: 24px;
  color: #AA6;
}
.ms-membership-form-wrapper .ms-signup-button {
  float: right;
  height: auto;
}
.ms-membership-form-wrapper .ms-cancel-button {
  height: auto;
  line-height: normal;
  background: #999;
}
.ms-membership-form-wrapper .ms-cancel-button:hover, .ms-membership-form-wrapper .ms-cancel-button:focus, .ms-membership-form-wrapper .ms-cancel-button:active {
  background: #AAA;
}

.ms-membership-details-wrapper {
  position: relative;
  overflow: hidden;
  width: 99%;
  margin: 1em 0;
  border: 1px solid #DDD;
}

.ms-alert-box {
  padding: 10px 30px 10px 15px;
  margin-bottom: 20px;
  background-color: #fbfce3;
  border: 1px solid #ecf088;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #c09853;
}
.ms-alert-box.ms-alert-success {
  color: #468847;
  background-color: #DEF7E4;
  border-color: #8DE3A1;
}
.ms-alert-box.ms-alert-error {
  color: #B94A48;
  background-color: #FCE5E3;
  border-color: #F28F87;
}

.ms-top-bar {
  position: relative;
  background: #eee;
  padding: 10px;
  min-height: 2em;
  text-align: left;
  color: #434343;
  overflow: hidden;
}

.ms-bottom-bar {
  position: relative;
  padding: 10px;
  overflow: hidden;
  background: #f6f6f6;
  color: #434343;
}

.ms-price-details {
  position: relative;
  padding: 10px;
  min-height: 1em;
  list-style-type: none;
}

.ms-form-element {
  margin: 1em;
}

.ms-form-element label {
  display: inline;
}

.ms-form-element span {
  display: inline;
}

.ms-form-element input {
  margin: 0 0 0 1em;
  float: right;
}

/* jQuery validation */
.ms-validation-error {
  color: #e46c6e !important;
}

label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.8em;
  margin: 5px;
  padding: 2px;
  position: absolute;
  width: auto;
  border-radius: 3px;
}
label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}

/* Login Form */
.ms-form {
  margin: 1em;
}
.ms-form .ms-field:after {
  content: '';
  display: table;
  clear: both;
}
.ms-form p:first-child {
  margin-top: 0;
}
.ms-form p:last-child {
  margin-bottom: 0;
}
.ms-form.ms-has-labels input {
  float: right;
}
.ms-form.ms-has-labels input[type="checkbox"] {
  float: none;
}
.ms-form.ms-no-labels p {
  text-align: center;
}
.ms-form:after {
  content: '';
  display: table;
  clear: both;
}

/* Account */
.ms-card-info-wrapper {
  margin: 20px 0;
}

.ms-edit-profile {
  float: right;
  font-weight: 100;
}

/* Payment buttons */
input[type="image"] {
  border: 0;
  padding: 0;
}

/**
 * Settings module.
 */
#wpwrap .ms-wrap {
  /** Settings Box **/
  /** Member search */
  /** jquery validation */
  /** radio slider */
  /* Dripped icon indicator */
  /* Settings Page Settings */
  /* SETTING: GENERAL */
  /* SETTINGS: IMPORT */
  /* SETTINGS GATEWAY */
  /* MEMBERS LIST */
  /* MEDIA /DOWNLOADS TAB */
}
#wpwrap .ms-wrap .ms-settings .settings-description {
  margin: 1em 0;
}
#wpwrap .ms-wrap .ms-label {
  display: block;
  padding-bottom: 5px;
}
#wpwrap .ms-wrap .ms-margin-right {
  margin-right: 10px;
}
#wpwrap .ms-wrap .ms-postbox.ms-default-margin {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}
#wpwrap .ms-wrap .ms-text-label,
#wpwrap .ms-wrap .ms-ok,
#wpwrap .ms-wrap .ms-nok {
  color: #222;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}
#wpwrap .ms-wrap .ms-ok {
  color: #7ad03a;
}
#wpwrap .ms-wrap .ms-nok {
  color: red;
}
#wpwrap .ms-wrap .ms-settings .ms-settings-box h3.wpmui-field-label {
  border: none;
  padding: 0;
  font-size: 1.1em;
  cursor: default;
  margin-top: 15px;
}
#wpwrap .ms-wrap #member-search-options {
  position: relative;
  top: -2px;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
}
@media (max-width: 900px) {
  #wpwrap .ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  #wpwrap .ms-wrap .ms-tabs a {
    padding: 5px;
    min-height: 40px;
  }
  #wpwrap .ms-wrap .ms-settings {
    min-height: 350px;
  }
}
#wpwrap .ms-wrap .ms-validation-error {
  color: #e46c6e !important;
}
#wpwrap .ms-wrap label.ms-validation-error {
  background: #ffefef;
  border: 1px solid #ffd2d2;
  color: #666;
  font-size: 0.9em;
  margin: 5px;
  padding: 2px;
  position: absolute;
  width: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#wpwrap .ms-wrap label.ms-validation-error:before {
  content: '';
  background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
  background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
  background-position: -640px -138px;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 1px;
  width: 20px;
}
#wpwrap .ms-wrap #membership_access .ms-radio-slider {
  margin: 10px 20px;
}
#wpwrap .ms-wrap div.dripped .tooltip {
  display: none;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper {
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper .ms-action {
  opacity: 0;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover {
  background-color: #FAFAFA;
}
#wpwrap .ms-wrap .ms-settings-page-wrapper:hover .ms-action {
  opacity: 1;
}
#wpwrap .ms-wrap textarea.wpmui-field-input {
  min-width: 80%;
  display: block;
}
#wpwrap .ms-wrap .wrapper-import_source .ms-radio {
  margin-top: 10px;
}
#wpwrap .ms-wrap .wrapper-import_source .ms-radio-caption {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
}
#wpwrap .ms-wrap .wrapper-import_source .ms-radio-caption label,
#wpwrap .ms-wrap .wrapper-import_source .ms-radio-caption .wpmui-field-input {
  width: auto;
  margin: 0 12px 0 0;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-label {
  width: 150px;
  text-align: left;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-name {
  font-weight: bold;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview .preview-count {
  text-align: center;
  width: 150px;
}
#wpwrap .ms-wrap .ms-settings-box .ms-import-preview.wpmui-html-table {
  margin: -10px;
  border: 0;
  box-shadow: 0 0 0 transparent;
  width: calc(100% + 20px);
}
#wpwrap .ms-wrap .gateways .is-configured .ms-gateway-setup-wrapper,
#wpwrap .ms-wrap .gateways .not-configured .ms-radio-slider {
  display: none;
}
#wpwrap .ms-wrap .gateways .not-configured .ms-gateway-setup-wrapper {
  display: block;
}
#wpwrap .ms-wrap .gateways .mode-unknown,
#wpwrap .ms-wrap .gateways .mode-sandbox,
#wpwrap .ms-wrap .gateways .mode-live {
  display: none;
}
#wpwrap .ms-wrap .gateways .not-configured .mode-unknown,
#wpwrap .ms-wrap .gateways .is-configured.is-sandbox .mode-sandbox,
#wpwrap .ms-wrap .gateways .is-configured.is-live .mode-live {
  display: block;
}
#wpwrap .ms-wrap .gateways .mode-live {
  font-weight: bold;
}
#wpwrap .ms-wrap .gateways .offline-flag {
  display: none;
}
#wpwrap .ms-wrap .gateways .is-offline {
  /* PayPal Standard does not work in offline mode */
}
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag, #wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag {
  display: inline-block;
}
#wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_standard .offline-flag:before, #wpwrap .ms-wrap .gateways .is-offline.gateway-paypal_single .offline-flag:before {
  content: '\f071';
  margin-left: 6px;
  color: #B30;
}
#wpwrap .ms-wrap #search_options {
  float: left;
  height: 28px;
  margin: 0 4px 0 0;
}
#wpwrap .ms-wrap .wpmui-description-masked_url {
  display: inline-block;
}
