


.ms-wrap .ms-settings .settings-description {
	margin: 1em 0;
}

.ms-wrap .ms-label {
	display: block;
	padding-bottom: 5px;
}
.ms-margin-right{
	margin-right: 10px;
}
.ms-wrap.ms-postbox.ms-default-margin{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

/** Settings Box **/
.ms-settings-box-wrapper {
	background: none repeat scroll 0 0 #f9f9f9;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	min-width: 255px;
	position: relative;
	margin-bottom: 15px;
}

.ms-settings-box {
	padding: 10px;
}

.ms-wrap .ms-settings .ms-settings-box h3 {
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
	padding: 5px 0;
}


.ms-text-label, .ms-ok, .ms-nok {
	color: #222;
	font-size: 1em;
	font-style: normal;
	font-weight: 600;
	margin-top: 10px;
}
.ms-ok {
	color: #7ad03a;
}
.ms-nok {
	color: red;
}
.ms-wrap .ms-settings .ms-settings-box h3.ms-field-input-label {
	border: none;
	padding: 0;
	font-size: 1.1em;
	cursor: default;
	margin-top: 15px;
}

.ms-settings .settings-description,
.ms-settings-tab-desc,
.ms-settings-description {
	color: #888;
	font-size: 0.9em;
}
/** html fields */

.ms-field-wp-editor {
	height: 5em;
	width: 100%;
}
.ms-text {
	display: inline-block;
	height: 2.1em;
}
.ms-text-small {
	width: 4em;
}
.ms-text-medium {
	width: 300px;
}
.ms-text-large {
	width: 400px;
}

.ms-period-wrapper input[type="text"] {
	width: 3em;
}
.ms-period-wrapper select {
	width: 6em;
	padding: 0;
}
.ms-period-wrapper input[type="text"] {
	display:inline;
	height: 2em;
	vertical-align: bottom;
}
.ms-textarea-medium {
	height: 10em;
}
.ms-separator {
	border-bottom: 1px solid #eeeeee;
	margin: 15px 0;
}

/** Member search */
#member-search-box {
	float:right;
}

#member-search-box .input-container {
	position: relative;
}

#member-search {
}

#member-search-options
{
  position: relative;
  top: -2px;
  font-size:13px;
  height:28px;
  line-height:26px;
  margin:0;
  padding:0 10px 1px;
}


@media (max-width: 900px) {
	.ms-wrap .ms-tabs {
		float: left;
		margin: 0;
		padding: 0;
		width: 100px;

	}
	.ms-wrap .ms-tabs a {
		padding: 5px;
		min-height: 40px;
	}
	.ms-wrap .ms-settings {
		min-height: 350px;
	}
}

/** jquery validation */
.ms-validation-error {
	color: #e46c6e !important;
}
label.ms-validation-error {
	background: #ffefef;
	border: 1px solid #ffd2d2;
	color: #666;
	font-size: 0.9em;
	margin: 5px;
	padding: 2px;
	position: absolute;
	width: auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

label.ms-validation-error:before {
	content:'';
	background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
	background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
	background-position: -640px -138px;
	display: inline-block;
	height: 20px;
	position: relative;
	top: 1px;
	width: 20px;
}

/** radio slider */

.ms-radio-slider:focus {
  background:none;
  outline:none;
}

.ms-radio-slider {
  border-radius: 10px;
  background: rgb(176,176,176);
  width:40px;
  height:18px;
  display:block;
  margin:3px 0;
  position: relative;
  opacity:.8;
}

#membership_access .ms-radio-slider {
  margin:10px 20px;
}

.ms-radio-slider:hover {
  cursor: pointer;
  opacity:1;
}

.ms-radio-slider .ms-toggle {
  width:12px;
  height:12px;
  margin:3px;
  background: #F4F4F4;
  border-radius:50%;
  display:block;
  position:absolute;
  -webkit-transition:all .2s ease-in-out;
  left:0px;
}
.ms-radio-slider .ms-toggle:hover {
  -webkit-transform:scale(1.1);
}

.ms-radio-slider.on .ms-toggle {
  left:21px;
}

.ms-radio-slider.on {
  background: rgb(107,187,26);
}

.ms-radio-slider.ms-processing {
	cursor: wait;
}

/* Dripped icon indicator */
div.dripped {
	background: url("../images/dripped-icon.png") no-repeat 3px 1px #efefef;
	padding: 2px 2px 2px 30px;
	cursor: pointer;
}
div.dripped .tooltip {
	display: none;
}

/* Settings Page Settings */
#ms-settings-page-links-wrapper {
	margin: .5em;
}


.ms-setup-half-width {
	float: left;
	margin: 0 20px 0 0;
	width: 40%;
}

/* SETTING: GENERAL */
textarea.ms-field-input {
	min-width: 80%;
	display: block;
}

/* SETTINGS GATEWAY */
.ms-gateway-settings-wrapper {
	display: none;
}
.ms-gateway-configured .ms-radio-slider {
	display: block;
}
.ms-gateway-configured .ms-gateway-setup-wrapper {
	display: none;
}
.ms-gateway-not-configured .ms-radio-slider {
	display: none;
}
.ms-gateway-not-configured .ms-gateway-setup-wrapper {
	display: block;
}


/* MEMBERS LIST */
#search_options {
	float: left;
	height: 28px;
	margin: 0 4px 0 0;
}

/* MEDIA /DOWNLOADS TAB */
#masked_url {
	display: inline;
}

/* list tables */
.ms-list-table-wrapper {

}
.ms-list-table-wrapper .tablenav{
	display: none;
}
.ms-list-table-half {
	float: left;
	margin: 0 10px;
	width: 40%;
}

/** save text ajax */
.ms-save-text-wrapper {
	font-size: .9em;
	font-weight:500;
}
.ms-save-text-wrapper.ms-init span {
	display: none;
}
.ms-save-text-wrapper span {
	display: inline-block;
	width: 155px;
}
.ms-save-text-wrapper .ms-saving-text{
	display: none;
}
.ms-saved-text{
	display: inline;
	color: rgb(107, 187, 26);
}
.ms-save-text-wrapper.ms-processing .ms-saving-text{
	display: inline-block !important;
}
.ms-save-text-wrapper.ms-processing .ms-saved-text{
	display: none !important;
}

/* Saving animation */
#floatingCirclesG{
	position:relative;
	float: left;
	top: -8px;
	width:32px;
	height:32px;
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:6px;
	width:6px;
	-moz-border-radius:3px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:3px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:3px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:3px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:3px;
	-webkit-animation-name:f_fadeG;
	animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:13px;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	animation-delay:0.39s;
}

#frotateG_02{
	left:4px;
	top:4px;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	animation-delay:0.52s;
}

#frotateG_03{
	left:13px;
	top:0;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	animation-delay:0.65s;
}

#frotateG_04{
	right:4px;
	top:4px;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	animation-delay:0.78s;
}

#frotateG_05{
	right:0;
	top:13px;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	animation-delay:0.91s;
}

#frotateG_06{
	right:4px;
	bottom:4px;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	animation-delay:1.04s;
}

#frotateG_07{
	left:13px;
	bottom:0;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	animation-delay:1.17s;
}

#frotateG_08{
	left:4px;
	bottom:4px;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	animation-delay:1.3s;
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#000000
	}

	100%{
		background-color:#FFFFFF
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#000000
	}

	100%{
		background-color:#FFFFFF
	}
}

@keyframes f_fadeG{
	0%{
		background-color:#000000
	}

	100%{
		background-color:#FFFFFF
	}
}
/*  end of animation */