


.ms-wrap .ms-settings .settings-description {
	margin: 1em 0;
}

.ms-wrap .ms-label {
	display: block;
	padding-bottom: 5px;
}
.ms-margin-right{
	margin-right: 10px;
}
.ms-wrap.ms-postbox.ms-default-margin{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

/** Settings Box **/

.ms-wrap .ms-settings .ms-settings-box h3 {
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
	padding: 5px 0;
}


.ms-text-label, .ms-ok, .ms-nok {
	color: #222;
	font-size: 1em;
	font-style: normal;
	font-weight: 600;
	margin-top: 10px;
}
.ms-ok {
	color: #7ad03a;
}
.ms-nok {
	color: red;
}
.ms-wrap .ms-settings .ms-settings-box h3.ms-field-input-label {
	border: none;
	padding: 0;
	font-size: 1.1em;
	cursor: default;
	margin-top: 15px;
}


/** Member search */
#member-search-box {
	float:right;
}

#member-search-box .input-container {
	position: relative;
}

#member-search-options
{
  position: relative;
  top: -2px;
  font-size:13px;
  height:28px;
  line-height:26px;
  margin:0;
  padding:0 10px 1px;
}


@media (max-width: 900px) {
	.ms-wrap .ms-tabs {
		float: left;
		margin: 0;
		padding: 0;
		width: 100px;

	}
	.ms-wrap .ms-tabs a {
		padding: 5px;
		min-height: 40px;
	}
	.ms-wrap .ms-settings {
		min-height: 350px;
	}
}

/** jquery validation */
.ms-validation-error {
	color: #e46c6e !important;
}
label.ms-validation-error {
	background: #ffefef;
	border: 1px solid #ffd2d2;
	color: #666;
	font-size: 0.9em;
	margin: 5px;
	padding: 2px;
	position: absolute;
	width: auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

label.ms-validation-error:before {
	content:'';
	background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
	background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
	background-position: -640px -138px;
	display: inline-block;
	height: 20px;
	position: relative;
	top: 1px;
	width: 20px;
}

/** radio slider */

#membership_access .ms-radio-slider {
  margin:10px 20px;
}

/* Dripped icon indicator */
div.dripped {
	background: url("../images/dripped-icon.png") no-repeat 3px 1px #efefef;
	padding: 2px 2px 2px 30px;
	cursor: pointer;
}
div.dripped .tooltip {
	display: none;
}

/* Settings Page Settings */
#ms-settings-page-links-wrapper {
	margin: .5em;
}

/* SETTING: GENERAL */
textarea.ms-field-input {
	min-width: 80%;
	display: block;
}

/* SETTINGS GATEWAY */
.ms-gateway-settings-wrapper {
	display: none;
}
.ms-gateway-configured .ms-gateway-setup-wrapper {
	display: none;
}
.ms-gateway-not-configured .ms-radio-slider {
	display: none;
}
.ms-gateway-not-configured .ms-gateway-setup-wrapper {
	display: block;
}


/* MEMBERS LIST */
#search_options {
	float: left;
	height: 28px;
	margin: 0 4px 0 0;
}

/* MEDIA /DOWNLOADS TAB */
#masked_url {
	display: inline;
}