/** Shortcode */
.ms-membership-form-wrapper legend {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.ms-membership-form-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.ms-membership-details-wrapper {
    border: 1px solid #DDD;
    overflow: hidden;
    position: relative;
    width: 99%;
    margin: 1em 0;
}

.ms-alert-box {
  padding: 10px 30px 10px 15px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fbfce3;
  border: 1px solid #ecf088;
  border-radius: 4px;
}
.ms-alert-box{
  color: #c09853;
}
.ms-alert-success {
    color: #468847;
    background-color: #DEF7E4;
    border-color: #8DE3A1;
}
.ms-alert-error {
    color: #B94A48;
    background-color: #FCE5E3;
    border-color: #F28F87;
}
.ms-top-bar {
	position: relative;
	background: #eee;
	text-align: left;
	padding: 10px;
	color: #434343;
	overflow: hidden;
	min-height: 2em;
}

.ms-bottom-bar {
	position: relative;
	background: #f6f6f6;
	padding: 10px;
	color: #434343;
	overflow: hidden;
}

.ms-price-details {
    list-style-type: none;
    min-height: 1em;
    padding: 10px;
    position: relative;
}

.ms-signup-button {
	height: auto;
    width: 20%;
	float: right;
}
.ms-bottom-msg {
	
}
.ms-form-element {
	margin: 1em;
}
.ms-form-element label {
	display: inline;
}
.ms-form-element span {
	display: inline;
}
.ms-form-element input {
	margin: 0 0 0 1em;
	float: right;
}
/** jquery validation */
.ms-validation-error {
	color: #e46c6e !important;
}
label.ms-validation-error {
	background: #ffefef;
    border: 1px solid #ffd2d2;
    color: #666;
    font-size: 0.8em;
    margin: 5px;
    padding: 2px;
    position: absolute;
    width: auto;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

label.ms-validation-error:before {
	content:'';
  	background: url(../images/membership_sprite.png) no-repeat scroll 5px 5px #ffefef;
	background: url(../images/membership_sprite.svg), no-repeat scroll 5px 5px #ffefef;
	background-position: -640px -138px;
	display: inline-block;
    height: 20px;
    position: relative;
    top: 1px;
    width: 20px;
}

/** login form */
.ms-login-form {
	margin: 1em;
}

.ms-login-form input {
	float: right;
}
.ms-login-form input[type="checkbox"] {
	float: none;
}

/** account */
.ms-card-info-wrapper {
	margin: 20px 0;
}
.ms-edit-profile {
	float: right;
	font-weight: 100;
}
