#ms-comm-message-wrapper {
	width: 50%;
	float: left;
}
#ms-comm-var-wrapper {
	width: 30%;
	float: left;
	margin: 0 1em;
}

#ms-comm-var-wrapper tr {
	font-size: .9em;
}

#ms-comm-var-wrapper th, #ms-comm-var-wrapper td {
	border: 1px solid;
	padding: .5em;
	height: 1em;
	width: 50%;
	font-size: 1em;
}
.ms-comm-subject {
	width: 50%;
	height: 2.5em;
}