/* Membership list page */
#create_new_ms_button{
	margin: 10px 0;
}

/* Protected Content Page*/
.ms-rule-wrapper {
	width: 49%;
	float: left;
}
.ms-chosen-rule {
	width: 20em;
}
/* url group tab */
#url-test-results-wrapper { 
	margin: 10px 0; 
	border: 1px dotted #ddd; 
}
#url-test-results-wrapper div { 
	border: 1px dotted #ddd; 
	padding: 10px; 
}
#url-test-results-wrapper div:last-child {
	border-bottom: 0; 
}
#url-test-results-wrapper span {
	float: right;
}
.ms-rule-valid {
	color: green; 
	font-weight: bold;
}
.ms-rule-invalid {
	color: red; 
}
/* choose membership */
.ms-type-wrapper{
	position: relative;
	
}
.ms-name-wrapper{
	clear:both;
	display:block;
	float:left;
	width: 45%;
	height: 9em;
}
.ms-private-wrapper{
	float:left;
	width: 45%;
	height: 9em;
}
.ms-chose-type {
	padding: 80px 20px 20px 0;
	background-color: transparent;
	outline:none;
	position: relative;
	-webkit-transition: border .25s ease-in-out;
	   -moz-transition: border .25s ease-in-out;
	    -ms-transition: border .25s ease-in-out;
	     -o-transition: border .25s ease-in-out;
	        transition: border .25s ease-in-out;
}
.ms-chose-type:before {
  content:'';
  background:url(../images/membership_sprite.png);
  background:url(../images/membership_sprite.svg), none;
  display: inline-block;
  position: absolute;
  left:30%;
  top: 0;
  width:60px;
  height:60px;
}

.ms-chose-type.ms-simple:before {
  background-position: -29px -30px;
}
.ms-chose-type.ms-content_type:before {
  background-position: -119px -20px;
}
.ms-chose-type.ms-tier:before {
  background-position: -229px -30px;
}
.ms-chose-type.ms-dripped:before {
  background-position: -329px -30px;
}
.ms-radio-description .ms-eg {
	margin: 1em 0;
	font-style: italic;
}
.ms-control-fields-wrapper {
	clear: both;
}
/* Payment setup page */
.ms-payment-wrapper{

}
.ms-settings-desc .ms-field-description {
	color: #888;
	font-size: 1em;
}
.ms-payments-choice {
	margin: 0 0 0 5em;
    width: 10em;
}

/* Overview Page */
.ms-membership-status-wrapper {
	width: 15em;
	position: absolute;
	
}
.ms-membership-status .ms-active {
	display: none;
}
.ms-membership-status.ms-active .ms-active{
	display: block;
}
.ms-membership-status.ms-active div{
	display: none;
}
.ms-membership-status-wrapper .ms-radio-slider {
	left: 4em;
}
.ms-overview-news-wrapper {
	width: 55%;
	float: left;
	padding: 0 10px 0 0;
}
.ms-overview-news-wrapper th {
	text-align: left;
	padding: 0 15px 10px 0;
}
.ms-overview-news-wrapper td {
	padding: 0 15px 0 0;
} 
.ms-overview-members-wrapper {
	width: 40%;
	float: left;
}
.ms-overview-available-content-wrapper {
	clear: both;
	background-color: #eee;
}
.ms-overview-content-box-wrapper {
	border-right: 1px solid #ccc;
    float: left;
    margin: 10px;
    min-height: 230px;
    width: 22%;
}
.ms-content-desc {
    background: none repeat scroll 0 0 #888;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 5px;
}
.ms-overview-content-box-wrapper .ms-title, .ms-tabs-title {
	font-weight: 600;
	margin: 5px 0;	
}
.ms-protection-edit-wrapper, .ms-member-edit-wrapper, .ms-news-view-wrapper{
	margin-top: 30px;
}
.ms-tabs-title {
	margin: 5px 15px;	
}

/* setup content type */
.ms-content-type-wrapper {
	width: 50%;
	margin: 50px auto;
}
#content_type_name, #submit_content_type {
	display: inline-block;
	margin: 10px 5px 10px 0;	
}

/* setup ms tier */
.ms-tier-wrapper {
	width: 50%;
	margin: 50px auto;
}
#tier_name, #submit_tier {
	display: inline-block;
	margin: 10px 5px 10px 0;	
}

/** save text ajax */
.ms-save-text-wrapper {
	font-size: 1.1em;
	font-weight:600;
}
.ms-save-text-wrapper.ms-init span {
    display: none;
}
.ms-save-text-wrapper span {
	display: inline-block;
    width: 155px;
}
.ms-save-text-wrapper .ms-saving-text{
	display: none;
}
.ms-saved-text{
	display: inline;
	color: rgb(107, 187, 26);
}
.ms-save-text-wrapper.ms-processing .ms-saving-text{
	display: inline-block !important;
}
.ms-save-text-wrapper.ms-processing .ms-saved-text{
	display: none !important;
}

/* Saving animation */
#floatingCirclesG{
	position:relative;
	float: left;
	top: -8px;
	width:32px;
	height:32px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:6px;
	width:6px;
	-moz-border-radius:3px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:1.04s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:3px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:1.04s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:3px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:1.04s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:3px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:1.04s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:3px;
	animation-name:f_fadeG;
	animation-duration:1.04s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:13px;
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	animation-delay:0.39s;
}

#frotateG_02{
	left:4px;
	top:4px;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#frotateG_03{
	left:13px;
	top:0;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#frotateG_04{
	right:4px;
	top:4px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#frotateG_05{
	right:0;
	top:13px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#frotateG_06{
	right:4px;
	bottom:4px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#frotateG_07{
	left:13px;
	bottom:0;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#frotateG_08{
	left:4px;
	bottom:4px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	
	100%{
		background-color:#FFFFFF
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	
	100%{
		background-color:#FFFFFF
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	
	100%{
		background-color:#FFFFFF
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	
	100%{
		background-color:#FFFFFF
	}
}

@keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	
	100%{
		background-color:#FFFFFF
	}
}
/*  end of animation */