/* Protected Content Page*/
.ms-rule-wrapper {
	width: 49%;
	float: left;
}
.ms-chosen-rule {
	width: 20em;
}
/** save text ajax */
.ms-save-text-wrapper {
	font-size: 1.1em;
	font-weight:600;
}
.ms-save-text-wrapper.ms-init span {
    display: none;
}
.ms-save-text-wrapper span {
	display: inline-block;
    width: 140px;
}
.ms-save-text-wrapper .ms-saving-text{
	display: none;
}
.ms-saved-text{
	display: inline;
	color: rgb(107, 187, 26);
}
.ms-save-text-wrapper.ms-processing .ms-saving-text{
	display: inline-block !important;
}
.ms-save-text-wrapper.ms-processing .ms-saved-text{
	display: none !important;
}
/* choose membership */
.ms-type-wrapper{
	position: relative;
	
}
.ms-name-wrapper{
	clear:both;
	float:left;
	width: 45%;
}
.ms-private-wrapper{
	float:left;
	width: 45%;
}
.ms-chose-type {
	padding: 80px 20px 20px 0;
	background-color: transparent;
	outline:none;
	position: relative;
	-webkit-transition: border .25s ease-in-out;
	   -moz-transition: border .25s ease-in-out;
	    -ms-transition: border .25s ease-in-out;
	     -o-transition: border .25s ease-in-out;
	        transition: border .25s ease-in-out;
}
.ms-chose-type:before {
  content:'';
  background:url(../images/membership_sprite.png);
  background:url(../images/membership_sprite.svg), none;
  display: inline-block;
  position: absolute;
  left:30%;
  top: 0;
  width:60px;
  height:60px;
}

.ms-chose-type.ms-simple:before {
  background-position: -29px -30px;
}
.ms-chose-type.ms-content_type:before {
  background-position: -119px -20px;
}
.ms-chose-type.ms-tier:before {
  background-position: -229px -30px;
}
.ms-chose-type.ms-dripped:before {
  background-position: -329px -30px;
}
.ms-radio-description .ms-eg {
	margin: 1em 0;
	font-style: italic;
}