/* Protected Content Page*/
.ms-rule-wrapper {
	width: 49%;
	float: left;
}
.ms-chosen-rule {
	width: 20em;
}
.ms-more-tag {
	display:inline;
	margin: 0 2em 0 0;
}
.ms-protection-edit-link {
	font-size: 0.8em;
	margin: 1em 0;
}
/* url group tab */
#url-test-results-wrapper {
	margin: 10px 0;
	border: 1px dotted #ddd;
}
#url-test-results-wrapper div {
	border: 1px dotted #ddd;
	padding: 10px;
}
#url-test-results-wrapper div:last-child {
	border-bottom: 0;
}
#url-test-results-wrapper span {
	float: right;
}
.ms-rule-valid {
	color: green;
	font-weight: bold;
}
.ms-rule-invalid {
	color: red;
}
/* choose membership */
.ms-type-wrapper{
	position: relative;

}
.ms-name-wrapper{
	clear: both;
	display: block;
	float: left;
	width: 45%;
	height: 7em;
}
.ms-private-wrapper{
	float: left;
	width: 45%;
	height: 7em;
}
.ms-radio-description .ms-italic {
	margin: 1em 0;
}
.ms-control-fields-wrapper {
	clear: both;
}

/* Overview Page */
.ms-membership-status-wrapper {
	width: 15em;
	position: absolute;

}
.ms-membership-status .ms-active {
	display: none;
}
.ms-membership-status.ms-active .ms-active{
	display: block;
}
.ms-membership-status.ms-active div{
	display: none;
}
.ms-membership-status-wrapper .ms-radio-slider {
	left: 4em;
}
.ms-overview-panel-wrapper {
	width: 48%;
	float: left;
	margin: 0 10px 0 0;
}
.ms-overview-content-box-wrapper {
	border-right: 1px solid #ccc;
	float: left;
	margin: 10px;
	min-height: 230px;
	width: 22%;
}
.ms-content-desc {
	background: none repeat scroll 0 0 #888;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 5px;
}

/* Setup Dripped Page */
.ms-dripped-type {
	display: inline-block;
	margin: 1em;
	width: auto;
}
.ms-period-desc {
	font-size: 14px;
	font-weight: bold;
}
.ms-period-desc-wrapper {
	display:inline-block;
	cursor: pointer;
}

.ms-period-editor-wrapper {
	display:none;
}
.ms-dripped-edit .ms-period-desc-wrapper {
	display:none;
}

.ms-dripped-edit .ms-period-editor-wrapper {
	display:inline-block;
}

.ms-dripped-type-spec-date-wrapper {
	position: relative;
}
input.ms-dripped-spec-date {
	border:none;
	background-color: inherit;
	box-shadow: none;
	width: 6em;
}
.ms-dripped-calendar:after {
	color: #0094dc;
	content: "\f145";
	font-family: "dashicons";
	font-size: 2em;
	position: relative;
	top: 5px;
}
.ms-dripped-pen:after {
	content:'';
	display: inline-block;
	background:url(../images/membership_sprite.png);
	background:url(../images/membership_sprite.svg), none;
	background-position: -329px -130px;
	position: relative;
	top: 5px;
	width:30px;
	height:30px;
	background-color: transparent;
}

/* Admin pointer */
.ms-pointer-wrapper {
	font-weight: bold;
}
.ms-pointer-text {
	padding: 0 15px;
	margin: 30px 10px 10px;
}
.ms-pointer-wrapper .wp-pointer-buttons{
	position: absolute;
	right: 0;
	top: 0;
}

#the-list-membership .wpmui-radio-slider-wrapper {
	float: left;
}
