/* Membership list page */
#create_new_ms_button{
	margin: 10px 0;
}
.ms-child-row td:first-child{
	border-left: 5px solid #eee;
}
.ms-type-desc {
	font-weight: 600;
}

/* Protected Content Page*/
.ms-rule-wrapper {
	width: 49%;
	float: left;
}
.ms-chosen-rule {
	width: 20em;
}
.ms-more-tag {
	display:inline;
	margin: 0 2em 0 0;
}
.ms-protection-edit-link {
	margin: 1em 0;
}
/* url group tab */
#url-test-results-wrapper { 
	margin: 10px 0; 
	border: 1px dotted #ddd; 
}
#url-test-results-wrapper div { 
	border: 1px dotted #ddd; 
	padding: 10px; 
}
#url-test-results-wrapper div:last-child {
	border-bottom: 0; 
}
#url-test-results-wrapper span {
	float: right;
}
.ms-rule-valid {
	color: green; 
	font-weight: bold;
}
.ms-rule-invalid {
	color: red; 
}
/* choose membership */
.ms-type-wrapper{
	position: relative;
	
}
.ms-name-wrapper{
	clear:both;
	display:block;
	float:left;
	width: 45%;
	height: 9em;
}
.ms-private-wrapper{
	float:left;
	width: 45%;
	height: 9em;
}
.ms-chose-type {
	float: left;
    margin: 1%;
    width: 20%;
	padding: 80px 20px 20px 0;
	background-color: transparent;
	outline:none;
	position: relative;
}
.ms-chose-type:before {
  content:'';
  background:url(../images/membership_sprite.png);
  background:url(../images/membership_sprite.svg), none;
  display: inline-block;
  position: absolute;
  left:30%;
  top: 0;
  width:60px;
  height:60px;
}

.ms-chose-type.ms-simple:before {
  background-position: -29px -30px;
}
.ms-chose-type.ms-content_type:before {
  background-position: -119px -20px;
}
.ms-chose-type.ms-tier:before {
  background-position: -229px -30px;
}
.ms-chose-type.ms-dripped:before {
  background-position: -329px -30px;
}
.ms-radio-description .ms-eg {
	margin: 1em 0;
	font-style: italic;
}
.ms-control-fields-wrapper {
	clear: both;
}
/* Payment setup page */
.ms-payment-wrapper{

}
.ms-settings-desc .ms-field-description {
	color: #888;
	font-size: 1em;
}
.ms-payments-choice {
	display: inline;
    width: 10em;
}

/* Overview Page */
.ms-membership-status-wrapper {
	width: 15em;
	position: absolute;
	
}
.ms-membership-status .ms-active {
	display: none;
}
.ms-membership-status.ms-active .ms-active{
	display: block;
}
.ms-membership-status.ms-active div{
	display: none;
}
.ms-membership-status-wrapper .ms-radio-slider {
	left: 4em;
}
.ms-overview-panel-wrapper {
	width: 48%;
	float: left;
	margin: 0 10px 0 0;
}
.ms-overview-news-wrapper {
	border-right: 1px solid #ccc;
}
.ms-overview-news-wrapper th {
	text-align: left;
	padding: 0 15px 10px 0;
}
.ms-overview-news-wrapper td {
	padding: 0 15px 0 0;
} 
.ms-overview-members-wrapper {
}
.ms-overview-available-content-wrapper {
	clear: both;
	background-color: #eee;
}
.ms-overview-content-box-wrapper {
	border-right: 1px solid #ccc;
    float: left;
    margin: 10px;
    min-height: 230px;
    width: 22%;
}
.ms-content-desc {
    background: none repeat scroll 0 0 #888;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 5px;
}
.ms-overview-content-box-wrapper .ms-title, .ms-tabs-title {
	font-weight: 600;
	margin: 5px 0;	
}
.ms-protection-edit-wrapper, .ms-member-edit-wrapper, .ms-news-view-wrapper{
	margin-top: 30px;
}
.ms-tabs-title {
	margin: 5px 15px;	
}

/* setup content type */
.ms-content-type-wrapper {
	width: 50%;
	margin: 50px auto;
}
#content_type_name, #submit_content_type {
	display: inline-block;
	margin: 10px 5px 10px 0;	
}

/* setup ms tier */
.ms-tier-wrapper {
	width: 50%;
	margin: 50px auto;
}
#tier_name, #submit_tier {
	display: inline-block;
	margin: 10px 5px 10px 0;	
}

/* Setup Dripped Page */
.ms-dripped-type {
	display: inline-block;
	margin: 1em;
	width: auto;
}
.ms-period-desc {
	font-size: 14px;
	font-weight: bold;	
}
.ms-period-desc-wrapper {
	display:inline-block;
	cursor: pointer;
}

.ms-period-editor-wrapper {
	display:none;
}
.ms-dripped-edit .ms-period-desc-wrapper {
	display:none;
}

.ms-dripped-edit .ms-period-editor-wrapper {
	display:inline-block;
}

.ms-dripped-type-spec-date-wrapper {
	position: relative;
}
input.ms-dripped-spec-date {
	border:none;
	background-color: inherit;
	box-shadow: none;
	width: 6em;
}
.ms-dripped-calendar:after {
    color: #0094dc;
    content: "\f145";
    font-family: "dashicons";
    font-size: 2em;
    position: relative;
    top: 5px;
}
.ms-dripped-pen:after {
	content:'';
	display: inline-block;
	background:url(../images/membership_sprite.png);
  	background:url(../images/membership_sprite.svg), none;
  	background-position: -329px -130px;
	position: relative;
	top: 5px;
	width:30px;
	height:30px;
	background-color: transparent;
}

/* Bread crumbs */
.ms-bread-crumb {
    text-align: center;
}
.ms-bread-crumb-sep{
	font-size: .7em;
	margin: 0 .5em;
}
.ms-bread-crumb-next {
	color: #aaa;
}

/* Admin pointer */
.ms-pointer-wrapper {
	font-weight: bold;
}
.ms-pointer-text {
	padding: 0 15px;
	margin: 30px 10px 10px;
}
.ms-pointer-wrapper .wp-pointer-buttons{
	position: absolute;
	right: 0;
    top: 0;
}

