.ms-wrap .form-table td,
.ms-wrap .form-table th {
    vertical-align: top;
}
.ms-wrap {
	margin:10px 20px 0 2px;
}
.ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
}
.ms-wrap .ms-tab {
    position: relative;
    z-index: 10;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    font-weight: 700;
}
.ms-wrap .ms-tab.active {
    background: #fff;
    border-color: #ccc;
}
.ms-wrap .ms-tab.active:after {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    background: #fff;
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    width: 1px;
}
.ms-wrap .ms-tab.active .ms-tab-link {
    color: #222;
}
.ms-wrap .ms-tab-link {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}

h2.ms-settings-title,
.ms-wrap .ms-settings-title {
  font-size: 2em; 
  font-weight: bold;
  line-height: 29px;
  padding: 9px 15px 30px 0;
  margin: 0;
}

.ms-wrap .ms-settings {
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 20px 20px;
	min-height: 350px;
	position:relative;
}

.ms-wrap .ms-settings h3 {
	margin: 0.5em 1em 0.5em 0;
	font-size: 1.6em;
}

.ms-wrap .ms-settings .settings-description {
    margin: 1em 0;
}

.ms-wrap .ms-label {
    display: block;
    padding-bottom: 5px;
}
.ms-margin-right{
    margin-right: 10px;
}
.ms-wrap.ms-postbox.ms-default-margin{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
}

/** Settings Box **/
.ms-settings-box-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0, 0.04);   
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
    position: relative;	
	margin-bottom: 15px;
}

.ms-wrap .form-table td{
	padding: 0;
}

.ms-settings-box {
	padding: 10px;
}

.ms-wrap .ms-settings .ms-settings-box h3 {
	font-size: 1.4em;
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
}
.ms-form-table, .ms-form-table td {
	border: 0 !important;
}
.ms-field-container {
	margin: 10px 0;
}
.ms-field-label {
	display: block;
	font-style: oblique;
}

.ms-field-input-label {
	margin-top: 10px;
	font-style: normal;
}

.ms-wrap .ms-settings .ms-settings-box h3.ms-field-input-label {
	border: none;
	padding: 0;
	font-size: 1.1em;
	cursor: default;
	margin-top: 15px;
}

.ms-settings .settings-description {
	font-style: oblique;
	font-size:1.05em;
}

.ms-field-description {
	
}
.ms-radio-wrapper {
	margin: 10px 0;	
}
.ms-field-input {
	margin: 0.5em 0 1em;
}
.ms-field-wp-editor {
	height: 5em;
	width: 100%;
}
.ms-period-wrapper {
	margin: 1em 0;
}
.ms-period-wrapper input[type="text"] {
	width: 5em;
}
.ms-period-wrapper select {
	width: 7em;
}
.ms-text {
	display: block;
}
.ms-link-button, .ms-submit {
	margin: 0 0.5em 0 0 !important;
}

#member-search-box {
	float:right;
}

#member-search-box .input-container {
	position: relative;
}

#member-search {
}

#member-search-options
{
  position: relative;
  top: -2px;
  font-size:13px;
  height:28px;
  line-height:26px;
  margin:0;
  padding:0 10px 1px;
}


@media (max-width: 900px) {
    .ms-wrap .ms-settings {
	}
	.ms-wrap .ms-tabs {
	    float: left;
	    margin: 0;
	    padding: 0;
	    width: 100px;
		
	}
	.ms-wrap .ms-tabs a {
		padding: 5px;
		min-height: 40px;
	}
	.ms-wrap .ms-settings {
		min-height: 350px;
	}	
}

/** jquery validation */
.ms-validation-error {
	color: #E46C6E;
}
label.ms-validation-error {
	height: 1.8em;
	width: auto;
	padding: 4px 4px 4px 25px;
	border: 1px solid #ffd2d2;
    background: url("../images/error-icon.png") no-repeat 5px 5px #ffefef;
	color: #666666;
	font-size: .8em!important;
	font-family: verdana;
	font-size: 2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/** radio slider */

.ms-radio-slider:focus {
  background:none;
  outline:none;
}

.ms-radio-slider {
  border-radius: 10px;
  background: rgb(176,176,176);
  width:40px;
  height:18px;
  display:block;
  margin:3px 0;
  position: relative;
  opacity:.8;
}

#membership_access .ms-radio-slider {
  margin:10px 20px;	
}

.ms-radio-slider:hover {
  cursor: pointer;
  opacity:1;
}

.ms-radio-slider .ms-toggle {
  width:12px;
  height:12px;
  margin:3px;
  background: #F4F4F4;
  border-radius:50%;
  display:block;
  position:absolute;
  -webkit-transition:all .2s ease-in-out;
  left:0px;
}
.ms-radio-slider .ms-toggle:hover {
  -webkit-transform:scale(1.1);
}

.ms-radio-slider.on .ms-toggle {
  left:21px;
}

.ms-radio-slider.on {
  background: rgb(107,187,26);
}

.ms-radio-slider.processing {
	cursor: wait;
}

/* Dripped icon indicator */
div.dripped { 
	background: url("../images/dripped-icon.png") no-repeat 3px 1px #efefef;	
	padding: 2px 2px 2px 30px;
	cursor: pointer;
}
div.dripped .tooltip {
	display: none;
}

/* Settings Page Settings */
#ms-settings-page-links-wrapper {
	margin: .5em;
}

/* Shadow Tables */
.shadow-table
{
    position: relative;
    width: 100%;
    background: #ddd;
    padding: 0em 0em;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0px auto;
}

.shadow-table:before, .shadow-table:after 
{
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.3);   
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-3deg);    
    -moz-transform: rotate(-3deg);   
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.shadow-table:after 
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

table.widefat {
	border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.widefat td{
    font-size: 12px;
    padding: 15px 6px 2px;
    vertical-align: top;
}

.widefat tbody th.check-column{
    padding: 15px 0 14px;
}

/* SETTING: GENERAL */
textarea.ms-field-input { min-width: 80%; }


/* MEMBERS LIST */
#search_options {
	float: left;
    height: 28px;
    margin: 0 4px 0 0;
}
