.ms-wrap .form-table td,
.ms-wrap .form-table th {
    vertical-align: top;
}
.ms-wrap {
	margin:10px 20px 0 2px;
}
.ms-wrap .ms-tabs {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
}
.ms-wrap .ms-tab {
    position: relative;
    z-index: 10;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    font-weight: 700;
    text-transform: uppercase;
}
.ms-wrap .ms-tab.active {
    background: #fff;
    border-color: #ccc;
}
.ms-wrap .ms-tab.active:after {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    background: #fff;
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    width: 1px;
}
.ms-wrap .ms-tab.active .ms-tab-link {
    color: #222;
}
.ms-wrap .ms-tab-link {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
}

.ms-wrap .ms-settings-title {
  font-size:23px; 
  font-weight:400;
  line-height:29px;
  padding:9px 15px 30px 0;
  margin:0;
}

.ms-wrap .ms-settings {
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 20px 20px;
	min-height: 300px;
}

.ms-wrap .ms-label {
    display: block;
    padding-bottom: 5px;
}
.ms-margin-right{
    margin-right: 10px;
}
.ms-wrap.ms-postbox.ms-default-margin{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
}
.ms-field-label {
	display: block;
}
.ms-field-description {
	
}
.ms-field-input {
	
}
.ms-period-wrapper {
	margin: 1em 0;
}
.ms-period-wrapper input[type="text"] {
	width: 5em;
}
.ms-period-wrapper select {
	width: 7em;
}

#member-search-box {
	float:right;
}

#member-search-box .input-container {
	position: relative;
}

#member-search {
}

#member-search-options
{
  position: relative;
  top: -2px;
  font-size:13px;
  height:28px;
  line-height:26px;
  margin:0;
  padding:0 10px 1px;
}


@media (max-width: 900px) {
    .ms-wrap .ms-settings {
	}
	.ms-wrap .ms-tabs {
	    float: left;
	    margin: 0;
	    padding: 0;
	    width: 100px;
		
	}
	.ms-wrap .ms-tabs a {
		padding: 5px;
		min-height: 40px;
	}
	.ms-wrap .ms-settings {
		min-height: 350px;
	}	
}

/** jquery validation */
.ms-validation-error {
	color: #E46C6E;
}
label.ms-validation-error {
	height: 1.8em;
	width: auto;
	padding: 4px 4px 4px 25px;
	border: 1px solid #ffd2d2;
    background: url("../images/error-icon.png") no-repeat 5px 5px #ffefef;
	color: #666666;
	font-size: .8em!important;
	font-family: verdana;
	font-size: 2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/** radio slider */

.ms-radio-slider:focus {
  background:none;
  outline:none;
}
.ms-radio-slider {
  border-radius: 10px;
  background: rgb(176,176,176);
  width:40px;
  height:18px;
  display:block;
  margin:10px 20px;
  position: relative;
  opacity:.8;
}
.ms-radio-slider:hover {
  cursor: pointer;
  opacity:1;
}

.ms-radio-slider .toggle {
  width:12px;
  height:12px;
  margin:3px;
  background: #F4F4F4;
  border-radius:50%;
  display:block;
  position:absolute;
  -webkit-transition:all .2s ease-in-out;
  left:0px;
}
.ms-radio-slider .toggle:hover {
  -webkit-transform:scale(1.1);
}

.ms-radio-slider.on .toggle {
  left:21px;
}
/*.ms-radio-slider.off .toggle {
  left:0;
}*/

.ms-radio-slider.on {
  background: rgb(107,187,26);
}

/* Dripped icon indicator */
div.dripped { 
	background: url("../images/dripped-icon.png") no-repeat 3px 1px #efefef;	
	padding: 2px 2px 2px 30px;
}
